@import url("https://d2ta2fpo91apla.cloudfront.net/fontawesome-free-5.9.0-web/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&family=Montagu+Slab:wght@300;500;600&display=swap");
html {
  overflow-x: hidden; }

body {
  position: relative;
  height: 100%;
  margin: 0;
  max-width: 2000px;
  overflow-x: hidden;
  background-color: #e9e4de; }

/* width */
::-webkit-scrollbar {
  width: 6px; }

/* Track */
::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #e9e4de; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px; }

.overflow-wrapper {
  overflow-x: hidden;
  overflow-y: hidden; }
  @media (max-width: 992px) {
    .overflow-wrapper {
      margin-top: 100px; } }

.standard {
  position: relative; }
  .standard div[class^="container"] {
    padding-left: 0px;
    padding-right: 0px;
    overflow: visible; }
    @media (max-width: 1024px) {
      .standard div[class^="container"] {
        max-width: unset; } }
  .standard .row {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    align-items: center; }
    .standard .row div[class^="col"] {
      position: relative;
      display: flex;
      flex-direction: column;
      overflow: visible;
      text-align: center; }
    .standard .row ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 40px;
      padding-right: 0px;
      display: flex; }
      .standard .row ul li {
        margin-bottom: 10px;
        position: relative;
        padding-left: 10px; }
        .standard .row ul li:last-of-type {
          margin-bottom: 0; }

a, p, li {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  position: relative;
  z-index: 1;
  line-height: 1.7em;
  font-size: 18px;
  margin-bottom: 0; }

a:hover {
  color: #011147;
  text-decoration: none; }

p, p span, p a, a {
  color: #011147; }

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6,
.dark p, .dark p span, .dark p a, .dark a, .dark ul, .dark li {
  color: #e9e4de; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montagu Slab", serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #011147; }

h1 {
  font-size: 60px; }
  @media (max-width: 1140px) {
    h1 {
      font-size: calc(16px + 2vw); } }

h2 {
  font-size: 30px;
  font-weight: 400; }
  @media (max-width: 992px) {
    h2 {
      font-size: calc(16px + 2vw); } }

.media-box {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .media-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%; }

figure {
  margin: 0;
  z-index: 1;
  width: 100%;
  position: relative; }
  figure svg {
    width: 100%;
    z-index: 1; }
    figure svg text {
      z-index: 2; }

svg {
  overflow: visible !important; }

.bg-img {
  height: 100%;
  min-height: 50vh;
  width: 100%;
  background-image: url("../img/placeholder.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 0; }
  @media (min-width: 1024px) {
    .bg-img {
      min-height: 70vh; } }
  @media (min-height: 1025px) {
    .bg-img {
      min-height: 40vh; } }

.before::before {
  content: '';
  position: absolute;
  width: 110%;
  height: 20vh;
  border-radius: 0 0 50% 50%;
  top: -1px;
  left: -5%;
  z-index: 0; }

.after::after {
  content: '';
  position: absolute;
  width: 110%;
  height: 20vh;
  border-radius: 50% 50% 0 0;
  bottom: 0;
  left: -5%;
  z-index: 0; }

.btn-svg {
  fill: red;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  .btn-svg text {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase; }
  .btn-svg:hover {
    fill: #011147;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; }

.jh .my-logo {
  top: 10px;
  left: 10px;
  position: fixed; }
  .jh .my-logo svg {
    max-width: 50px; }

.hero .row {
  min-height: 100vh; }
  .hero .row .vert {
    text-orientation: mixed;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    letter-spacing: 2px; }
  .hero .row h1 {
    font-size: 8.5vw;
    letter-spacing: 5px; }
    .hero .row h1 span {
      font-weight: 300;
      letter-spacing: 0px;
      font-size: 8vw; }
  .hero .row .about {
    justify-content: space-evenly;
    padding-left: 0; }
  .hero .row .social {
    flex-direction: column; }

.intro {
  background-color: #424e78; }
  .intro .row {
    padding-top: 10%; }
    .intro .row .vert {
      text-orientation: mixed;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      letter-spacing: 2px; }
    .intro .row .preamble {
      font-size: 4vw; }
      .intro .row .preamble span {
        font-family: "Montagu Slab", serif;
        font-size: 5.5vw; }

.feature {
  background-color: #424e78; }
  .feature .row {
    min-height: 100vh;
    padding: 4% 0; }

.big-text .row {
  padding: 8% 0;
  min-height: 100vh; }
  .big-text .row p {
    line-height: 1.2; }
  .big-text .row .big {
    font-size: 30vw;
    line-height: .5em;
    font-family: "Montagu Slab", serif; }
  .big-text .row .medium {
    font-size: 12vw;
    letter-spacing: 5px; }
  .big-text .row .average {
    font-size: 4vw; }

.small-intro .row {
  padding: 8% 0;
  min-height: 100vh; }
  .small-intro .row p {
    font-size: 6vw; }

.work .row {
  padding: 8% 0; }
  .work .row h2 {
    font-size: 7.5vw;
    letter-spacing: 4px;
    line-height: 1em; }
    .work .row h2 span {
      font-family: "Manrope", sans-serif;
      letter-spacing: 1px;
      font-size: 6vw; }
  .work .row p {
    max-width: 700px;
    margin: 20px auto; }

.spotzer .row {
  padding-bottom: 8%;
  align-items: flex-start; }
  .spotzer .row figure {
    height: 60vh; }
  .spotzer .row img.logo {
    max-width: 70%;
    margin: 40px auto; }
  .spotzer .row div[class^="col"] {
    padding: 0; }
    .spotzer .row div[class^="col"].main {
      padding: 0 8%; }
  .spotzer .row .logo {
    margin-top: 40px; }
  .spotzer .row p {
    margin-top: 40px; }

.personal-pro {
  padding: 8% 0 4%; }
  .personal-pro .row h2 {
    font-size: 6vw;
    letter-spacing: 4px;
    line-height: 1em; }
    .personal-pro .row h2 span {
      font-family: "Manrope", sans-serif;
      letter-spacing: 1px;
      font-size: 7.5vw; }
  .personal-pro .row p {
    max-width: 700px;
    margin: 20px auto; }

.personal {
  padding: 4%; }
  .personal figure {
    height: 100%;
    width: calc(100% - 20px);
    margin: 0 auto; }
    @media (min-width: 992px) {
      .personal figure .media-box {
        height: 100%;
        min-height: 90vh; } }
  .personal section {
    margin-bottom: 20px; }
    .personal section div[class^="col"] {
      padding: 0; }

.educapps .bg-color figure #audio {
  padding: 4%;
  padding-bottom: 0;
  width: 80%;
  margin-left: 10%; }
  .educapps .bg-color figure #audio .st0 {
    fill: #F59688; }
  .educapps .bg-color figure #audio .st1 {
    fill: #EF5152; }
  .educapps .bg-color figure #audio .st2 {
    fill: #54C0AA; }
  .educapps .bg-color figure #audio .st3 {
    fill: #9DD6C8; }
  .educapps .bg-color figure #audio .st4 {
    fill: #37469A; }
  .educapps .bg-color figure #audio .st5 {
    fill: #F5F1E9; }
  .educapps .bg-color figure #audio .eye,
  .educapps .bg-color figure #audio .head {
    transform: translateY(-2px); }
  .educapps .bg-color figure #audio .ear {
    transform: translateX(2px); }
.educapps .bg-color figure #educapps {
  fill: #e9e4de;
  margin-left: -1px; }
.educapps .bg-color figure div {
  background-color: #4A5BCF; }
.educapps .other.media-box {
  min-height: auto; }

/*# sourceMappingURL=styles.css.map */
