@import url("https://d2ta2fpo91apla.cloudfront.net/fontawesome-free-5.9.0-web/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&family=Montagu+Slab:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@500&display=swap");
html {
  overflow-x: hidden; }

body {
  position: relative;
  height: 100%;
  margin: 0;
  max-width: 2000px;
  overflow-x: hidden;
  background-color: #e9e4de; }

/* width */
::-webkit-scrollbar {
  width: 6px; }

/* Track */
::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #e9e4de; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px; }

.overflow-wrapper {
  overflow-x: hidden;
  overflow-y: hidden; }
  @media (max-width: 992px) {
    .overflow-wrapper {
      margin-top: 100px; } }

.standard {
  position: relative; }
  .standard div[class^="container"] {
    padding-left: 0px;
    padding-right: 0px;
    overflow: visible; }
    @media (max-width: 1024px) {
      .standard div[class^="container"] {
        max-width: unset; } }
  .standard .row {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    align-items: center; }
    .standard .row ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 40px;
      padding-right: 0px;
      display: flex; }
      .standard .row ul li {
        margin-bottom: 10px;
        position: relative;
        padding-left: 10px; }
        .standard .row ul li:last-of-type {
          margin-bottom: 0; }
  .standard div[class^="col"] {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: visible;
    text-align: center;
    padding: 0; }

a, p, li {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  position: relative;
  z-index: 1;
  line-height: 1.7em;
  font-size: 18px;
  margin-bottom: 0; }

a:hover {
  color: #011147;
  text-decoration: none; }

p, p span, p a, a {
  color: #011147; }

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6,
.dark p, .dark p span, .dark p a, .dark a, .dark ul, .dark li {
  color: #e9e4de; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montagu Slab", serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #011147; }

h1 {
  font-size: 60px; }
  @media (max-width: 1140px) {
    h1 {
      font-size: calc(16px + 2vw); } }

h2 {
  font-size: 30px;
  font-weight: 400; }
  @media (max-width: 992px) {
    h2 {
      font-size: calc(16px + 2vw); } }

.media-box {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .media-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%; }

figure {
  margin: 0;
  z-index: 1;
  width: 100%;
  position: relative; }
  figure a {
    text-decoration: none; }
    figure a svg .text {
      text-decoration: none; }
  figure svg {
    width: 100%;
    z-index: 1; }
    figure svg text {
      z-index: 2; }

svg {
  overflow: visible !important; }

.bg-img {
  height: 100%;
  min-height: 50vh;
  width: 100%;
  background-image: url("../img/placeholder.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 0; }
  @media (min-width: 1024px) {
    .bg-img {
      min-height: 70vh; } }
  @media (min-height: 1025px) {
    .bg-img {
      min-height: 40vh; } }

.before::before {
  content: '';
  position: absolute;
  width: 110%;
  height: 20vh;
  border-radius: 0 0 50% 50%;
  top: -1px;
  left: -5%;
  z-index: 0; }

.after::after {
  content: '';
  position: absolute;
  width: 110%;
  height: 20vh;
  border-radius: 50% 50% 0 0;
  bottom: 0;
  left: -5%;
  z-index: 0; }

.special {
  transform-origin: bottom left; }

.portfolio-btn {
  font-family: "Montagu Slab", serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
  margin: 20px 0 40px;
  flex-direction: column; }
  @media (min-width: 576px) {
    .portfolio-btn {
      flex-direction: row; } }
  .portfolio-btn svg {
    width: 60px;
    fill: #c75033;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; }
  .portfolio-btn:hover svg {
    fill: #e9e4de;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; }

.jh .my-logo {
  top: 10px;
  left: 10px;
  position: fixed; }
  .jh .my-logo svg {
    max-width: 50px;
    fill: #c52800; }

.intro-heading .row {
  padding: 8% 4%; }
  .intro-heading .row h2 {
    font-size: 9.5vw;
    letter-spacing: 4px;
    line-height: 1em; }
    @media (min-width: 768px) {
      .intro-heading .row h2 {
        font-size: 7.5vw; } }
    .intro-heading .row h2 span {
      font-family: "Manrope", sans-serif;
      letter-spacing: 1px;
      font-size: 6vw; }
  .intro-heading .row p {
    max-width: 700px;
    margin: 20px auto; }

.project-focus {
  margin-bottom: 8%; }
  .project-focus h2 {
    margin-top: 40px;
    font-size: 8.5vw;
    letter-spacing: 4px;
    line-height: 1em;
    margin-bottom: 40px; }
    .project-focus h2 span {
      font-family: "Manrope", sans-serif;
      letter-spacing: 1px;
      font-size: 6vw; }
    @media (min-width: 768px) {
      .project-focus h2 {
        font-size: 4.5vw; }
        .project-focus h2 span {
          font-family: "Manrope", sans-serif;
          letter-spacing: 1px;
          font-size: 3vw; } }
    @media (min-width: 992px) {
      .project-focus h2 {
        margin-top: 0; } }
  .project-focus p {
    max-width: 700px;
    margin: 0 auto; }

.dark-bg {
  margin: 0 4%;
  background-color: #011147; }
  .dark-bg .row {
    padding: 8%; }

.svg-btn-wrap {
  width: 100%;
  position: relative; }
  .svg-btn-wrap .svg-btn {
    position: absolute;
    max-width: 200px; }
    .svg-btn-wrap .svg-btn text {
      font-size: 6vw;
      font-weight: 600;
      text-transform: uppercase;
      fill: #fff; }
      @media (min-width: 768px) {
        .svg-btn-wrap .svg-btn text {
          font-size: 3vw; } }
    .svg-btn-wrap .svg-btn g {
      transform-origin: 50% 50%; }
    .svg-btn-wrap .svg-btn .icon {
      fill: #fff;
      position: absolute; }
    .svg-btn-wrap .svg-btn circle {
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
      fill: #d14f27; }
    .svg-btn-wrap .svg-btn .rotate {
      animation-name: rotate;
      -webkit-animation-duration: 8s;
      -moz-animation-duration: 8s;
      -ms-animation-duration: 8s;
      -o-animation-duration: 8s;
      animation-duration: 8s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
      -o-animation-timing-function: linear;
      animation-timing-function: linear; }
    .svg-btn-wrap .svg-btn a:hover circle {
      fill: #e9e4de;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg); }
  to {
    -webkit-transform: rotate(0); } }
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(360deg); }
  to {
    -moz-transform: rotate(0); } }
@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(360deg); }
  to {
    -ms-transform: rotate(0); } }
@-o-keyframes rotate {
  from {
    -o-transform: rotate(360deg); }
  to {
    -o-transform: rotate(0); } }
@keyframes rotate {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0); } }
button:focus {
  outline: none; }

.navbar {
  display: block;
  position: fixed;
  z-index: 100;
  width: 100%;
  background: transparent;
  padding: 0;
  top: 0;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  .navbar .container-fluid {
    align-items: center;
    padding: 10px 0;
    background-color: #e9e4de; }
  .navbar .navbar-brand {
    width: 50px;
    height: 50px;
    position: relative;
    padding: 0; }
    .navbar .navbar-brand svg {
      transform-origin: 0 0;
      fill: #c52800;
      margin-top: -1px;
      position: fixed;
      top: 10px;
      left: 5px;
      width: 50px;
      height: 50px;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in; }
  .navbar .navbar-toggler {
    padding: 0 10px;
    font-size: 30px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    transition: none;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center; }
    .navbar .navbar-toggler:focus {
      box-shadow: none; }
  .navbar .navbar-toggler-icon {
    color: #011147;
    height: auto; }
  .navbar .navbar-collapse.show {
    margin-top: -1px;
    background-color: #e9e4de; }
  .navbar ul.navbar-nav {
    padding: 0px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 70px); }
    .navbar ul.navbar-nav .nav-item .btn {
      max-width: 160px;
      margin: 0 auto; }
  .navbar .navbar-collapse {
    justify-content: flex-end; }
    .navbar .navbar-collapse ul.navbar-nav {
      padding-right: 25px; }
      .navbar .navbar-collapse ul.navbar-nav a.nav-link {
        padding: 10px 14px; }
  @media (max-width: 576px) {
    .navbar {
      height: 70px; }
      .navbar .container-fluid {
        height: 70px; }
      .navbar .navbar-brand {
        max-width: 220px; } }
  @media (min-width: 992px) {
    .navbar .container-fluid {
      background-color: transparent; }
    .navbar ul.navbar-nav.mb-2.mb-lg-0 {
      min-height: 1px; }
    .navbar .navbar-toggler {
      display: none; } }

li.dd ul {
  display: block; }
  li.dd ul.xy {
    display: none; }

@media (min-width: 992px) {
  .nav--up {
    top: -100px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; }

  .nav--scrolled .container-fluid {
    background-color: #e9e4de; } }
.open .navbar-toggler-icon i {
  transform: rotate(-90deg); }

.hero .row {
  padding: 10% 0; }
  .hero .row h1 {
    font-size: 8.5vw;
    overflow: hidden; }
    .hero .row h1 .job {
      font-weight: 300;
      font-size: 7.5vw; }
    .hero .row h1 .name div:first-of-type div:first-of-type {
      margin-right: -5px; }
    .hero .row h1 .job div:first-of-type div:first-of-type {
      margin-right: -10px; }
  .hero .row .about {
    justify-content: space-evenly;
    padding-left: 0; }
  .hero .row .social {
    flex-direction: column; }
    .hero .row .social i {
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in; }
    .hero .row .social a:hover i {
      transform: scale(1.5);
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
      color: #c52800; }
.hero .svg-btn-wrap .svg-btn {
  width: 180px;
  top: -90px;
  left: 80%; }
  .hero .svg-btn-wrap .svg-btn a text {
    fill: #c75033; }
  .hero .svg-btn-wrap .svg-btn a .initials {
    fill: #e9e4de; }
  .hero .svg-btn-wrap .svg-btn a .bg {
    fill: #c52800; }
  .hero .svg-btn-wrap .svg-btn a .initials, .hero .svg-btn-wrap .svg-btn a .bg {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; }
  .hero .svg-btn-wrap .svg-btn a:hover .initials, .hero .svg-btn-wrap .svg-btn a:hover .bg {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; }
  .hero .svg-btn-wrap .svg-btn a:hover .initials {
    fill: #c52800; }
  .hero .svg-btn-wrap .svg-btn a:hover .bg {
    fill: #e9e4de; }

.standard.wixbuilders .row {
  background: -webkit-linear-gradient(bottom, transparent 15%, #040433 80%);
  background: -moz-linear-gradient(bottom, transparent 15%, #040433 80%);
  background: -o-linear-gradient(bottom, transparent 15%, #040433 80%);
  background: linear-gradient(bottom, transparent 15%, #040433 80%);
  margin: 0 20px;
  align-items: stretch;
  padding: 8% 4%; }
  @media (min-width: 768px) {
    .standard.wixbuilders .row {
      margin: 0 40px; } }
  .standard.wixbuilders .row .project-focus {
    align-items: center; }
.standard.wixbuilders .branding {
  order: 2;
  display: flex;
  align-items: center; }
  @media (min-width: 1200px) {
    .standard.wixbuilders .branding {
      order: unset;
      padding: 0 20px; } }
  .standard.wixbuilders .branding .wrap {
    position: relative;
    max-width: 360px;
    display: flex;
    justify-content: center;
    border-radius: 22px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 0px 20px black;
    height: 100%;
    padding: 8%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; }
    @media (min-width: 768px) {
      .standard.wixbuilders .branding .wrap {
        padding: 20px; } }
    @media (min-width: 992px) {
      .standard.wixbuilders .branding .wrap {
        padding: 4% 8%; } }
    .standard.wixbuilders .branding .wrap div {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      .standard.wixbuilders .branding .wrap div .title {
        font-size: 42px;
        line-height: 1.2em;
        font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 600; }
        @media (min-width: 1366px) {
          .standard.wixbuilders .branding .wrap div .title {
            font-size: 46px; } }
      .standard.wixbuilders .branding .wrap div p {
        font-family: "Raleway", sans-serif;
        margin: 10px 0;
        font-weight: 500; }
      .standard.wixbuilders .branding .wrap div p.url {
        color: #dc5c00;
        letter-spacing: 1.2px;
        font-weight: bold; }
      .standard.wixbuilders .branding .wrap div img {
        border-top-left-radius: 25%;
        border-bottom-right-radius: 25%;
        z-index: 2;
        position: relative; }
    .standard.wixbuilders .branding .wrap figure.shapes {
      position: absolute;
      z-index: 0; }
    .standard.wixbuilders .branding .wrap:hover {
      transform: scale(0.95);
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in; }
@media (min-width: 768px) and (max-width: 1200px) {
  .standard.wixbuilders .branding.one {
    padding-left: 10px; } }
.standard.wixbuilders .branding.one .wrap::before {
  background-color: #e9e4de;
  content: '';
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  height: 35%; }
.standard.wixbuilders .branding.one .wrap div {
  position: relative;
  text-align: center; }
  .standard.wixbuilders .branding.one .wrap div p.title {
    color: #fff; }
  .standard.wixbuilders .branding.one .wrap div p.url {
    margin-bottom: 40px;
    color: #0062aa; }
  .standard.wixbuilders .branding.one .wrap div img {
    margin-bottom: 20px; }
.standard.wixbuilders .branding.one .wrap figure.two {
  right: 0;
  top: 5%;
  width: 150%; }
  .standard.wixbuilders .branding.one .wrap figure.two svg {
    fill: #9EC6DB; }
.standard.wixbuilders .branding.one .wrap figure.one {
  left: 10%;
  top: 10%;
  width: 30%; }
  .standard.wixbuilders .branding.one .wrap figure.one svg .st0 {
    fill: #0062aa; }
  .standard.wixbuilders .branding.one .wrap figure.one svg .st1 {
    fill: #011147; }
  .standard.wixbuilders .branding.one .wrap figure.one svg .st2 {
    fill: #9EC6DB; }
  .standard.wixbuilders .branding.one .wrap figure.one svg .st3 {
    fill: #0062aa; }
@media (min-width: 768px) and (max-width: 1200px) {
  .standard.wixbuilders .branding.two {
    padding-right: 10px; } }
.standard.wixbuilders .branding.two .wrap a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .standard.wixbuilders .branding.two .wrap a div {
    align-items: center; }
.standard.wixbuilders .branding.two .wrap figure.shapes.one {
  width: 30%;
  top: 0;
  left: 0; }
  .standard.wixbuilders .branding.two .wrap figure.shapes.one svg {
    fill: #dc5c00; }
.standard.wixbuilders .branding.two .wrap figure.shapes.two {
  top: 25%;
  right: 0; }
  .standard.wixbuilders .branding.two .wrap figure.shapes.two svg {
    fill: #0062aa; }
.standard.wixbuilders .branding.two .wrap figure.shapes.three {
  bottom: 0;
  left: 0;
  width: 50%; }
  .standard.wixbuilders .branding.two .wrap figure.shapes.three svg {
    fill: #dc5c00; }
.standard.wixbuilders .branding.two .wrap .logo {
  max-width: 60px;
  border-radius: 0;
  margin-bottom: 30px; }
.standard.wixbuilders .branding.two .wrap .title {
  margin-bottom: 30px; }
@media (min-width: 768px) and (max-width: 1200px) {
  .standard.wixbuilders .branding.three {
    padding-left: 10px; } }
.standard.wixbuilders .branding.three .wrap::before {
  background-color: #e9e4de;
  content: '';
  width: 100%;
  bottom: 65%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0; }
.standard.wixbuilders .branding.three .wrap div p.url {
  margin-bottom: 40px;
  color: #0062aa; }
.standard.wixbuilders .branding.three .wrap div img {
  margin-bottom: 20px; }
.standard.wixbuilders .branding.three .wrap div figure.one {
  max-width: 30%;
  margin-left: auto; }
  .standard.wixbuilders .branding.three .wrap div figure.one svg .st0 {
    fill: #dc5c00; }
  .standard.wixbuilders .branding.three .wrap div figure.one svg .st1 {
    fill: #011147; }
  .standard.wixbuilders .branding.three .wrap div figure.one svg .st2 {
    fill: #f3a56d; }
  .standard.wixbuilders .branding.three .wrap div figure.one svg .st3 {
    fill: #dc5c00; }
.standard.wixbuilders .branding.three .wrap figure.two {
  right: 0;
  transform: rotate(180deg); }
  .standard.wixbuilders .branding.three .wrap figure.two svg {
    fill: #f3a56d; }

.spotagency .row {
  background: -webkit-linear-gradient(bottom, transparent 15%, #040433 80%);
  background: -moz-linear-gradient(bottom, transparent 15%, #040433 80%);
  background: -o-linear-gradient(bottom, transparent 15%, #040433 80%);
  background: linear-gradient(bottom, transparent 15%, #040433 80%);
  margin: 0 20px;
  padding: 8% 4%; }
  @media (min-width: 768px) {
    .spotagency .row {
      margin: 0 40px; } }
  .spotagency .row div[class^="col"] {
    align-items: center; }
  .spotagency .row div[class^="col"].logos {
    padding: 0 4%; }
.spotagency .logos .spotzer {
  padding: 20px 10%; }
  .spotagency .logos .spotzer svg {
    fill: #fff; }
.spotagency .logos .agency {
  padding: 20px 10%;
  background-color: #0000C4; }
  .spotagency .logos .agency svg {
    fill: #040433; }
.spotagency .svg-btn-wrap .svg-btn {
  width: 160px;
  top: -100px;
  left: 100%; }
  .spotagency .svg-btn-wrap .svg-btn a text {
    fill: #e9e4de; }
  .spotagency .svg-btn-wrap .svg-btn a .initials {
    fill: #e9e4de; }
  .spotagency .svg-btn-wrap .svg-btn a .bg {
    fill: #c52800; }
  .spotagency .svg-btn-wrap .svg-btn a .initials, .spotagency .svg-btn-wrap .svg-btn a .bg {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; }
  .spotagency .svg-btn-wrap .svg-btn a:hover .initials, .spotagency .svg-btn-wrap .svg-btn a:hover .bg {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; }
  .spotagency .svg-btn-wrap .svg-btn a:hover .initials {
    fill: #c52800; }
  .spotagency .svg-btn-wrap .svg-btn a:hover .bg {
    fill: #e9e4de; }

.spotzer-social {
  padding-bottom: 4%; }
  .spotzer-social .row {
    background: -webkit-linear-gradient(bottom, transparent 15%, #040433 80%);
    background: -moz-linear-gradient(bottom, transparent 15%, #040433 80%);
    background: -o-linear-gradient(bottom, transparent 15%, #040433 80%);
    background: linear-gradient(bottom, transparent 15%, #040433 80%);
    margin: 0 20px;
    align-items: normal;
    padding: 8% 4%; }
    @media (min-width: 768px) {
      .spotzer-social .row {
        margin: 0 40px; } }
  @media (min-width: 576px) {
    .spotzer-social div[class^="col"] {
      flex-direction: row; } }
  @media (min-width: 992px) {
    .spotzer-social div[class^="col"] {
      flex-direction: column;
      justify-content: space-evenly; } }
  .spotzer-social figure.left,
  .spotzer-social figure.right {
    height: 40%;
    min-height: 30vh; }
    @media (min-width: 992px) {
      .spotzer-social figure.left,
      .spotzer-social figure.right {
        min-height: 90%; } }
  .spotzer-social div[class^="col"].main {
    overflow: hidden;
    position: relative;
    flex-direction: column; }
    @media (min-width: 992px) {
      .spotzer-social div[class^="col"].main {
        padding: 0 4%; } }
  .spotzer-social .center svg {
    position: absolute;
    left: 0;
    fill: transparent;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; }
    .spotzer-social .center svg:hover {
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
      fill: #fff; }
  .spotzer-social .svg-btn-wrap {
    z-index: 10; }
    .spotzer-social .svg-btn-wrap .svg-btn {
      width: 160px;
      top: -80px;
      left: 90%; }
      .spotzer-social .svg-btn-wrap .svg-btn a text {
        fill: #e9e4de; }
      .spotzer-social .svg-btn-wrap .svg-btn a .initials {
        fill: #e9e4de; }
      .spotzer-social .svg-btn-wrap .svg-btn a .bg {
        fill: #c52800; }
      .spotzer-social .svg-btn-wrap .svg-btn a .initials, .spotzer-social .svg-btn-wrap .svg-btn a .bg {
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in; }
      .spotzer-social .svg-btn-wrap .svg-btn a:hover .initials, .spotzer-social .svg-btn-wrap .svg-btn a:hover .bg {
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in; }
      .spotzer-social .svg-btn-wrap .svg-btn a:hover .initials {
        fill: #c52800; }
      .spotzer-social .svg-btn-wrap .svg-btn a:hover .bg {
        fill: #e9e4de; }

.section-intro.personal-pro {
  padding: 8% 0 4%; }
  .section-intro.personal-pro .row h2 {
    font-size: 6vw;
    letter-spacing: 4px;
    line-height: 1em; }
    .section-intro.personal-pro .row h2 span {
      font-family: "Manrope", sans-serif;
      letter-spacing: 1px;
      font-size: 7.5vw; }
  .section-intro.personal-pro .row p {
    max-width: 700px;
    margin: 20px auto; }

.personal {
  padding: 4%; }
  .personal figure {
    height: 100%;
    width: calc(100% - 20px);
    margin: 0 auto; }
    @media (min-width: 992px) {
      .personal figure .media-box {
        height: 100%;
        min-height: 90vh; } }
  .personal section {
    margin-bottom: 20px; }
    .personal section div[class^="col"] {
      padding: 0; }

.educapps .bg-color figure #audio {
  padding: 4%;
  padding-bottom: 0;
  width: 80%;
  margin-left: 10%; }
  .educapps .bg-color figure #audio .st0 {
    fill: #F59688; }
  .educapps .bg-color figure #audio .st1 {
    fill: #EF5152; }
  .educapps .bg-color figure #audio .st2 {
    fill: #54C0AA; }
  .educapps .bg-color figure #audio .st3 {
    fill: #9DD6C8; }
  .educapps .bg-color figure #audio .st4 {
    fill: #37469A; }
  .educapps .bg-color figure #audio .st5 {
    fill: #F5F1E9; }
  .educapps .bg-color figure #audio .eye,
  .educapps .bg-color figure #audio .head {
    transform: translateY(-2px); }
  .educapps .bg-color figure #audio .ear {
    transform: translateX(2px); }
.educapps .bg-color figure #educapps {
  fill: #e9e4de;
  margin-left: -1px; }
.educapps .bg-color figure div {
  background-color: #4A5BCF; }
.educapps .other.media-box {
  min-height: auto; }

/*# sourceMappingURL=styles.css.map */
