
$header-font: 'Montagu Slab', serif;
$body-font: 'Manrope', sans-serif;

$header-wix: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-wix: 'Raleway', sans-serif;


$xs:40px;
$sm:4%;
$md:8%;
$lg:10%;
$xl:16%;
$xxl:20%;


$white:#fff;
$light:#e9e4de;
$cream:#dcd4c7;
$dark:#011147;

$main:#424e78;
$main-light:#4f5465;
$main-dark:#64697a;

// ligh tteal
$secondary:#e49806;
$secondary-dark:#c52800;
$secondary-light:#c75033;

$wix-light:#f6f3ea;
$wix-light-2:#9EC6DB;
$wix-light-3:#f3a56d;
$wix-dark:#00273b;
$wix-contrast:#dc5c00;
$wix-contrast-2:#0062aa;
$wix-shadow:0 0px 200px rgba(0,0,0, 1%);


$agency-light:#fff;
$agency-dark:#040433;
$agency-contrast:#d14f27;
$agency-contrast-2:#0000C4;

$shadow:0 -10px 40px rgba(228, 152, 6,0.05);
$shadow2:0 10px 10px rgba(0, 0, 0, 0.5);
$shadow3:-10px -10px 30px rgba(0, 0, 0, 0.1);
$shadow-inset:inset 0 10px 100px rgba(252, 239, 185,0.5);
$text-shadow: 2px 2px 10px rgba(0,0,0,0.25);

$drop-shadow:drop-shadow( 0px 0px 10px rgba(0, 0, 0, .10));


$light1:rgba(216, 209, 195, 0.8);
$light05:rgba(216, 209, 195, 0.4);
$light0:rgba(216, 209, 195, 0.1);