@import 'variables';
@import 'mixins';
@import url("https://d2ta2fpo91apla.cloudfront.net/fontawesome-free-5.9.0-web/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&family=Montagu+Slab:wght@300;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@500&display=swap');

html{
  overflow-x:hidden;
}
body {
  position: relative;  
  height: 100%;
  margin: 0;
  max-width:2000px;
  overflow-x:hidden;
  background-color: $light;

}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: $light;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}
.overflow-wrapper{
	overflow-x: hidden;
	overflow-y:hidden;
  @media (max-width:992px){
    margin-top:100px;
  }
}


.standard {
  position: relative;
  div[class^="container"]{
    padding-left: 0px;
    padding-right: 0px;
    overflow:visible;
    @media (max-width:1024px){
      max-width: unset;
    }
  }
  .row {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    margin:0;
    align-items: center;
    ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 40px;
      padding-right: 0px;
      display: flex;
  
      li {
        margin-bottom: 10px;
        position: relative;
        padding-left: 10px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  div[class^="col"] {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow:visible;
    text-align: center;
    padding: 0;
  }
}

a, p, li{ 
  font-family:$body-font; 
  font-size:16px; 
  position: relative;
  z-index: 1;
  line-height:1.7em;
  font-size:18px;
  margin-bottom:0;
}
a:hover{
  color:$dark;
  text-decoration: none;
}

p, p span,p a,a{  color:$dark;}

.dark{
  h1, h2, h3, h4, h5, h6,
  p, p span,p a,a,ul,li{  
    color:$light; 
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;  
  font-weight: 700;
  letter-spacing: 1px;
  color:$dark;
  }


h1{
  font-size:60px; 
  @media(max-width:1140px){
  font-size: calc(16px + 2vw);
  }  
}

h2{  
  font-size:30px;
  font-weight:400;
  @media(max-width:992px){
    font-size: calc(16px + 2vw);
  }  

}

.media-box{
  position: relative; 
  height: 100%;
  width: 100%;
  overflow: hidden;
  img {
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover; 
    object-fit: cover;
    -o-object-position: 50% 50%; 
    object-position: 50% 50%;
  } 

} 

figure {
  margin: 0;
  z-index: 1;
  width: 100%;
  position: relative;
  svg{
    width: 100%;
    z-index: 1;
    text{
      z-index: 2;
    }
  }
}
svg {
  overflow: visible !important;
}

.bg-img {
  height:100%;
  min-height: 50vh;
  width:100%;
  @media (min-width: 1024px) {
    min-height: 70vh;
  }
  @media (min-height: 1025px) {
    min-height: 40vh;
  }
  @include bg-img(url("../img/placeholder.jpg"), 50%, 0);
}

.before::before{
  content:'';
  position: absolute;
  width:110%;
  height:20vh;
  border-radius: 0 0 50% 50%;
  top:-1px;
  left:-5%;
  z-index: 0;
}

.after::after{
  content:'';
  position: absolute;
  width:110%;
  height:20vh;
  border-radius: 50% 50% 0 0;
  bottom:0;
  left:-5%;
  z-index: 0;
}


.special{
  transform-origin: bottom left;
}

.portfolio-btn{
  font-family: $header-font;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size:1.5em;
  margin:20px 0 40px;
  svg{
    width: 60px;
    fill:$secondary;
    @include transition;
  }
  &:hover{
    svg{
      fill:$light;
      @include transition;
    }
  }
}


.jh{
  .my-logo{
    top:10px;
    left:10px;
    position: fixed;
    svg{max-width:50px;}
  }
}


.intro-heading{
  .row{
    padding: $md $sm;
    h2{
      font-size: 9.5vw;
      letter-spacing: 4px;
      line-height: 1em;
      @media (min-width:768px){
        font-size: 7.5vw;        
      }
      span{
        font-family: $body-font;
        letter-spacing: 1px;
        font-size: 6vw;
      }
    }
    p{
      max-width: 700px;
      margin: 20px auto;
    }
  }
}


.dark-bg{
  margin: 0 $sm;
  background-color:$dark;
  .row{
    padding: $md;
  }
}

/////////////////////////////////

.hero{
  .row{
    min-height: 100vh;
    .vert{
      text-orientation: mixed;
      writing-mode: vertical-rl; 
      transform: rotate(180deg);
      letter-spacing: 2px;
    }

   h1{
      font-size: 8.5vw;
      overflow:hidden;
      .job{
        font-weight: 300;
        font-size: 7.5vw;
      }
      .name div:first-of-type div:first-of-type{
        margin-right:-5px
      }
      .job div:first-of-type div:first-of-type{
        margin-right:-10px
      }
    }
    .about{
      justify-content: space-evenly;
      padding-left: 0;
    }
    .social{
      flex-direction: column;
    }
  }
}

.wixbuilders{ 
  .row{
   @include gradient(bottom, $grad1);  
   margin: 0 20px 20px;
   align-items: stretch;
   padding: $md $sm;
   @media (min-width:768px){
    margin: 0 40px 40px; 
   }
  }

  .branding{
    order: 2;      
    display: flex;
    align-items: center;
    @media (min-width:1200px){
      order: unset;
      padding: 0;
    }
    .wrap{
      position: relative;
      max-width: 360px;
      display: flex;
      justify-content: center;
      border-radius: 22px;
      margin-bottom: 20px;
      overflow: hidden;
      box-shadow: $wix-shadow;
      height: 100%;      
      padding:$md;
      @media(min-width:768px){
        padding:20px;
      }
      @media(min-width:992px){
        padding:$sm $md;
      }

      div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .title{
          font-size: 42px;
          line-height: 1.2em;
          font-family: $header-wix;
          font-weight: 600;
          @media (min-width:1366px){
            font-size: 46px;
          }
        }
        p{
          font-family: $body-wix;
          margin: 10px 0;
          font-weight: 500;
        }
        p:last-of-type{
          color:$wix-contrast;
          letter-spacing: 1.2px;
          font-weight: bold;
        } 
        img{
          border-top-left-radius: 25%;
          border-bottom-right-radius: 25%;
          z-index: 2;
          position: relative;
        }
      }
      figure.shapes{
        position: absolute;
        z-index: 0;
      }
    }    
  }

  .branding.one{ 
    @media (min-width:768px) and (max-width:1200px){
      padding-right: 10px;
    }
    .wrap{
      figure.shapes{
        &.one{
          width: 30%;
          top: 0;
          left: 0;
          svg{fill:$wix-contrast}            
        }
        &.two{
          top: 25%;
          right: 0;
          svg{fill:$wix-contrast-2}            
        }
        &.three{
          bottom: 0;
          left: 0;
          width: 50%;
          svg{fill:$wix-contrast}
        }
      }
    }
  }

  .branding.two{
    @media (min-width:768px) and (max-width:1200px){
      padding-left: 10px;
    }
    .wrap{
      &::before{
        background-color: $light;
        content:'';
        width: 100%;
        bottom: 65%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
      }

      div{
        p:first-of-type{
          color: $dark;
        }
        p:last-of-type{
          margin-bottom: 40px;
          color:$wix-contrast-2;
        }
        img{
          margin-bottom: 20px;
        }
        figure.one{
          max-width: 30%;
          svg{
            .st0{fill:$wix-contrast-2;}
            .st1{fill:$dark;}
            .st2{fill:$wix-light-2;}
            .st3{fill:$wix-contrast-2;}
          }
        }
      }

      figure.two{
        right: 0;
        svg{
          fill:$wix-light-3;
        }
      }
    } 
  }

  div[class^="col"].text-intro{
    padding: $sm;
    order:1;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    @media (min-width:992px){
      order: unset;
    }
    h2{
      font-family:$header-wix
    }
    p{
      font-family: $body-wix;
    }
    a.wix-btn{
      color:$white;
      margin-top: 40px;
      padding: 10px 40px;
      background-color: $wix-contrast-2;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      @include transition;
      &:hover{
        background-color: $wix-contrast;
        @include transition;
      }
    }
    img{
      max-width: 140px;
      margin: 0 auto 20px;
    }
  }
}








.career{
  background-color:$dark;
  margin: 0 66px;
  padding-bottom: 80px;
  .row{
    padding: $md $sm $sm;
    div[class^="col"]{
      position: relative;
    }
  }
  .row.career-intro{
    padding: $md 0 0;
    h2{
      font-size: 7.5vw;
      letter-spacing: 4px;
      line-height: 1em;
      span{
        font-family: $body-font;
        letter-spacing: 1px;
        font-size: 6vw;
      }
    }
    p{
      max-width: 700px;
      margin: 20px auto;
    }
  }
  .row.spotzer-social{
    align-items: flex-start;
    margin-bottom:$sm;
    figure{
      height: 60vh;
    }
    img.logo{
      max-width: 70%;
      margin: 40px auto;
    }
    div[class^="col"]{
      padding: 0;
      &.main{
        padding: 0 $sm;
      }
    }
    .logo{
      margin-top: 40px;
    }
    p{
      margin-top: 40px;
    }
  }



  .spotzeragency{
    padding: 0;
    margin: 0 80px;
    .row{
      padding: 0;
      figure.spotzer{
        margin-top: $md;
        svg{
          fill:$white
        }
      }
      figure.agency{
        svg{
          fill:$dark;
        }
      }
    }

    .blue-panel{
      background-color: $agency-contrast-2;
      &.content{
        padding-bottom: $sm;
      }
    }

    .content{  
      align-items: flex-start;   
      div[class^="col"]{
        padding: $sm;
        align-items: flex-start;
      }
      .cta-text{
        font-size:30px;
        font-weight: 600;
        line-height: 1.3em;
        margin-bottom: 20px;        
      }  
      p,.cta-text{
        text-align: left;
      } 
      .spotBtn{
        margin: 40px 0 0 ;
        padding: 20px 40px;
        text-decoration: none;
        border:2px solid $white;
        i{margin-left: 20px;}
        font-size: 26px;
        font-weight: 800;
        @include transition;
        &:hover{
          color:$agency-dark;
          border:2px solid $agency-dark;
          @include transition;
        }
      }
    }




    .svg-btn { 
      width: 80%;
      text { 
        font-size: 6vw;
        font-weight: 600;
        text-transform: uppercase;
        fill: $white;
        @media (min-width:768px){
          font-size: 3vw;
        }
      }
    
      .icon{
        fill:$white;
        position: absolute;
      }
      circle{
        @include transition;
        fill:$agency-contrast;
      }
      .rotate{
        animation-name: rotate;
        -webkit-animation-duration: 8s;
           -moz-animation-duration: 8s;
            -ms-animation-duration: 8s;
             -o-animation-duration: 8s;
                animation-duration: 8s;
        -webkit-animation-iteration-count: infinite;
           -moz-animation-iteration-count: infinite;
            -ms-animation-iteration-count: infinite;
             -o-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
           -moz-animation-timing-function: linear;
            -ms-animation-timing-function: linear;
             -o-animation-timing-function: linear;
                animation-timing-function: linear;  
      }
      a:hover{
        circle{
          fill:$dark;
          @include transition;
        }
      }
    }
    @-webkit-keyframes rotate {
      from { -webkit-transform: rotate(360deg); }
      to { -webkit-transform: rotate(0); }
    }
    @-moz-keyframes rotate {
      from { -moz-transform: rotate(360deg); }
      to { -moz-transform: rotate(0); }
    }
    @-ms-keyframes rotate {
      from { -ms-transform: rotate(360deg); }
      to { -ms-transform: rotate(0); }
    }
    @-o-keyframes rotate {
      from { -o-transform: rotate(360deg); }
      to { -o-transform: rotate(0); }
    }
    @keyframes rotate {
      from { transform: rotate(360deg); }
      to { transform: rotate(0); }
    }
  }
}


.section-intro.personal-pro{
  padding: $md 0 $sm;
  .row{
    h2{
      font-size: 6vw;
      letter-spacing: 4px;
      line-height: 1em;
      span{
        font-family: $body-font;
        letter-spacing: 1px;
        font-size: 7.5vw;
      }
    }
    p{
      max-width: 700px;
      margin: 20px auto;
    }
  }
}

.personal{
  padding:$sm;
  figure{
    height: 100%;
    width: calc(100% - 20px);
    margin: 0 auto;
    .media-box{
      @media (min-width:992px){
        height:100%;
        min-height: 90vh;
      }
    }
  }
  section{
    div[class^="col"]{
      padding: 0;
    }
    margin-bottom: 20px;
  }
}

.educapps{
  .bg-color{
    figure{
      #audio{
        padding:$sm;
        padding-bottom:0;
        width: 80%;
        margin-left: 10%;
        .st0{fill:#F59688;}
        .st1{fill:#EF5152;}
        .st2{fill:#54C0AA;}
        .st3{fill:#9DD6C8;}
        .st4{fill:#37469A;}
        .st5{fill:#F5F1E9;}
        .eye,
        .head{
          transform: translateY(-2px);
        }
        .ear{
          transform: translateX(2px);
        }
      }
      #educapps{
        fill:$light;
        margin-left: -1px;
      }
      div{
        background-color: #4A5BCF;
      }
    }
  }

  .other.media-box{
    min-height: auto;
  }
}



///////////////////////////

