
$header-font: 'Marcellus', serif;
$body-font: 'Marcellus', serif;
$variable: 'Meddon', cursive;


$xs:40px;
$sm:4%;
$md:8%;
$lg:10%;
$xlg:14%;
$xxl:20%;


$white:#fafafa;
$lightest:#f5efe3;
$light:#d8d1c3;
$dark:#011147;

$main:#424e78;
$main-light:#4f5465;
$main-dark:#64697a;

// ligh tteal
$secondary:#e49806;
$secondary-dark:#c52800;

$shadow:0 10px 20px rgba(160, 160, 160, 0.2);
$shadow-inset:inset 0 10px 100px rgba(252, 239, 185,0.5);
$text-shadow: 2px 2px 10px rgba(0,0,0,0.25);
$drop-shadow:drop-shadow( 3px 3px 8px rgba(0, 0, 0, .30));


