// Import all the partial files
@import "variables";
@import "mixins";
@import url("https://d2ta2fpo91apla.cloudfront.net/fontawesome-free-5.9.0-web/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Meddon&family=Marcellus&display=swap');
/////---------- Structure Elements

html,
body {
  position: relative;
}

body {   
  margin: 0 auto;
  padding: 0;  
  width: 100%;  
  max-width: 2000px;
  overflow: hidden;
   background-color: #fafafa;
  background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
}
.scroller {
  margin-top: -2px;
  height: 100vh;
}



.container-fluid,
.container {
  padding-left: 0px;
  padding-right: 0px;
  overflow:visible;
  @media (max-width:1024px){
    max-width: unset;
  }
}


.standard {
  position: relative;
  &.dark{
    background-color: $dark;
    h2,  h3,  h4,  h5,  h6,
    p, p span,  p a,  a,  ul,  li {
      color:$white;
    }
    & a:hover {
      color: $main-light;
    }

  }
  .row {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    margin:0;
    > div:not(.btn-wrap) {
      position: relative;
      display: flex;
      flex-direction: column;
      padding:0;

      &.content{
        padding: 0;
        @media (min-width:992px){
          padding:$sm;
        }
        ul {
          list-style: none;
          margin-bottom: 0;
          padding-left: 40px;
          padding-right: 0px;
      
          li {
            margin-bottom: 10px;
            position: relative;
            padding-left: 10px;
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

//////---------- Type Elements
span.detail{
  color:$secondary;
  font-family: $variable; 
  white-space: nowrap;  
} 

h2 span.detail{
  font-size:30px
}



h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
  font-weight: 100;
  margin-top: 0;
  position: relative;
}



h1 {
  font-size:32px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  color:$main;
  span.detail{
    font-size: 30px;
  }
  @media (min-width:1200px){
    font-size:46px;
    span.detail{
      font-size: 50px;
    }
  }
}

h2 {
  color:$main;
  margin-bottom: 20px;
  font-size: 26px;
  @media (min-width:992px){
    font-size:30px;
  }
  span.detail{
    font-size: 30px;
  }
}

h3 {
  font-size: 22px;
  margin: 20px 0;
  color:$main-light;
  span.detail{
    font-size: 22px;
  }
}



p,p span,p a,a,ul,li {
  font-family: $body-font;
  position: relative;
  z-index: 1;
  line-height: 1.7em;
  color:$dark;
  font-size: 16px;
}

a { text-decoration: none;}
a:hover {
  text-decoration: none;
  color: $main-light;
}



////---------- Image elements
.responsive-img img {
  width: 100%;
  height: auto;
}

figure {
  margin: 0;
  z-index: 1;
  // height: 100%;
  width: 100%;
  position: relative;
  svg{
    width: 100%;
  }
}

.media-box {
  position: relative;
  height: 100%;
  width: 100%;
  overflow:hidden;
  img {
    width: 100%;
    height: 100%;
  }
  @media (min-width: 400px) {
    min-height: 50vh;
    img {
      position: absolute;
      top: 0;
      left: 0;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: 50% 50%;
      object-position: 50% 50%;
    }
  }
  @media (min-width: 1140px) and (max-width: 1600px) {
    min-height: 70vh;
  }
}

svg {
  overflow: visible !important;
}

.bg-img {
  height:100%;
  min-height: 50vh;
  width:100%;
  @media (min-width: 1024px) {
    min-height: 70vh;
  }
  @media (min-height: 1025px) {
    min-height: 40vh;
  }
  @include bg-img(url("../img/placeholder.jpg"), 50%, 0);
}

////---------- Pseudo elements
.before::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.after::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
///////////////////////////////////////////////////

////all arches//////
.arch{
  .svg.height{
    width: 100%;
    height: 100%;
    image{
      height: 110%;
    }
  }  
  .svg.width{
    width: 100%;
    height: 100%;
    image{
      width: 110%;
    }
  }  
  .svg textPath{
    font-size: 30px;
    font-family: $variable;
    fill:$main;
  }
  max-width: 600px;
  margin: 0 auto;
}

//// logo figure colors
svg{
  .light{
    fill:$light;
  }
  .main{
    stroke:none;
    fill:$main
  }
}
//////////////
// ////buttons
.btn-wrap {
  margin-top:20px;
  a{
    @include transition;
    border-left:1px solid $main;
    color:$main;
    font-size: 20px;
    padding:8px 20px;
    i{
      margin-left:20px;
      color:inherit;  
      @include transition(margin);
    } 
      
    &:hover{
    color:$secondary;
    border-color:inherit;
      i{
        @include transition(margin);
        margin-left: 30px;
      }
    }
  }
}

.mesh{
  position:absolute;
  z-index: -1;  
  opacity: 0.5;
  width: 150%;

}

div.socials{
  list-style: none;
  display: flex; 
  padding-left: 0;
  justify-content: center;
  i{color:$main; padding:0 10px}
  li{padding: 0;}
  i:hover,
  a:hover{color:$main-dark;}
}
////-----------------------------------------/////

///////////navigation///////////

.hero{
  .row{
    padding: $sm;
    .visual{
      figure{
        height: 100%;
        min-height: 60vh;
        max-width: 400px;
        margin: 0 auto;
        .mesh{
          top: -15%;
          left:-15%;
        }
        .media-box{
          border-top-left-radius: 200px;
          border-top-right-radius: 200px;
           img{
            position: absolute;
            top: 0;
            left: 0;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: 50% 50%;
            object-position: 50% 50%;
          }
        }
      }
    }

    .content{
      padding:$sm;
      .preamble{
        justify-content: center;
        margin-bottom: 40px;
      }
      .small-branding{
        justify-content: flex-end;
        max-width: 100px;
        margin: 0 auto;
        .mesh{
          bottom: -55%;
          right:-45%;
        }
      }
      h1,.preamble, .btn-wrap{
        text-align: center;
      }

      @media (min-width:768px){
        .small-branding{
          max-width: 200px;
        }
        .preamble{
          padding: 20px;
          margin-bottom: 0px;
        }

        .preamble, .btn-wrap{
          text-align: left;
        }
      }
      @media (min-width:992px){
        h1{text-align: left;}
      }
    }
  }
}

///////////////////
.marquee {
  position: relative;
  overflow: hidden;
  .marquee__inner {
    -webkit-font-smoothing: antialiased;
    width: fit-content;
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
    .marquee__part{
      display:flex;
      flex-direction:row;
      p{
        will-change: transform;
        white-space:nowrap;
        font-size: 18vw;
        line-height: 1;
        color:$main;
      }
    }
  }
}
///////////////////////////////////////
.about{
  @include gradient(top, $grad1);
  .row{
    padding:0 $sm;
    align-items: center;
    .content{
      > div{
        padding:$md $md 0;
      }
      .mesh{
        bottom: -15%;
        right:-25%;
      }
    }

    > div:last-of-type{
      padding:$md;
      flex-direction: column-reverse;
      > div{
        padding:$md;
      }
      .mesh{
        top: -15%;
        right:-25%;
      }
      @media (min-width:992px){
        flex-direction: column;
      }
    }

    figure.arch{
      padding: 20px;
    }
    p,h3,h2{
      text-align: center;
      margin-left:auto;
      margin-right:auto;
    }
    .btn-wrap{
      text-align: center;
    }
    @media (min-width:992px){
      p,h3,h2{
        text-align: left;
      }
      .btn-wrap{
        text-align: left;
      }
    }
 
  }
}
///////////////////
.horizontal{
  background-color:$lightest;
  .spacer{height:$sm}
  overflow: hidden;
  width: 100%;

  .pin-wrap{  
    overflow: hidden;
    height: 100vh;
  }
  .pin-wrap,
  .animation-wrap {
      display: flex;
      position: relative;
      z-index: 1;  
      width: 100%;
  }  
  .animation-wrap{
    width: 100%;
    height: calc(100vh - 50px);
  }

  .item {
    will-change: transform;
    position: relative;
    padding:0px;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    line-height: 1.7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;

    figure{
      justify-content: center;
      display: flex;
      margin: 20px;
      &.bg{
        background-color: $main;        
      }
      &.bg.dark{
        background-color: $main-dark;
        p{color:$white}
      }
      &.arch,
      &.logo-figure{
        svg{
          max-width: 70%;
        }
      }
    }
    @media (min-width:992px){
      flex: 0 0 50%;
      .content{
        text-align: left;
      }
    }
    @media (min-width:1200px){
      flex: 0 0 33.333%;
    }

    @media (min-height:1366px) and (max-height:1367px){
      flex: 0 0 100%;  
    }
  }

}

.dates{
  @include gradient(bottom, $grad1);
  overflow:hidden; 
  div[class^="container"]{ 
      
    .row{
      padding: $md $sm;
      flex-direction: column-reverse;
      @media (min-width:768px){
        flex-direction: row;
      }
      h3{
        margin-top: 0;
        margin-bottom: 10px;
      }
      .logo-figure{
        justify-content: flex-end;
        background-color: $light;
        align-items: flex-end;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
        max-width: 400px;
        margin: 0 auto;
        box-shadow: $shadow-inset;
        figure:first-of-type{ 
          margin: 0 auto;
          display:none;
          svg{transform:rotate(90deg)}
          @media(min-width:576px) and (max-width:991px){
            display: block;
          }
        }
        figure{
          max-width: 90%;          
          @media(min-width:992px){
            max-width: 100%;
          }
        }
      }
      .content{
        padding: $md;
        @media (min-width:768px){
          padding: $sm  0 0 $sm;
        }
        @media (min-width:1200px){
          padding: $sm $sm 0 ;
        }
        justify-content: flex-end;
        .text{
          max-width: 350px;
          a{
            p,i{
              @include transition();
            }
            i{
              margin-left:10px;
              padding-left:10px;
              border-left:1px solid $main;
            }
            &:hover{
              p,i{
                @include transition();
              }
              p{
                color:$main;
              }
              i{
                color:$secondary;
                border-color:$secondary;
                padding-left: 30px;
              }
            }
          }
        }
        .mesh{
          left: -15%;
        }
      }
    }
  }
}

.cta{
  .row{
    padding: $md 0;
    max-width: 800px;
    margin: 0 auto;
    h2{
      text-align: center;
    }
    .preamble{
      justify-content: center;
    }

    ul.socials{
      display: flex;
      justify-content:center;
      li{
        padding: 0 10px ;
        a{
          color:$main;
          &:hover{color:$secondary}
        }
      }
    }
    .mesh{
      right:-50%;
      top:-15%;
    }

    .btn-wrap {
      a{
        border-width:0;
        i{
          margin-right:20px;
          margin-left: 0;
        }           
        &:hover{
          i{
            margin-left: 0;
            margin-right: 30px;
          }
        }
      }
    }
  }
}

footer{
  width: 100%;
  background-color: $lightest;
  padding:10px 40px;
  div{
    text-align: right;
    a{
      color:$main;
      &:hover{
        color:$secondary
      }
    }
  }
}



