// Import all the partial files
@import "variables";
@import "mixins";
@import url("https://d2ta2fpo91apla.cloudfront.net/fontawesome-free-5.9.0-web/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
/////---------- Structure Elements

html,
body {
  position: relative;
}

body {   
  margin: 0 auto;
  padding: 0;  
  width: 100%; 
  max-width: 2000px;
  overflow-x:hidden;
  background-color: $lightest;
  background-image: url("../img/background-texture.png");
  background-repeat: repeat;

}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: $lightest;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $white; 
  border-radius: 10px;
}



.container-fluid,
.container {
  padding-left: 0px;
  padding-right: 0px;
  overflow:visible;
  @media (max-width:1024px){
    max-width: unset;
  }
}


.standard {

  position: relative;
  &.dark{
    background-color: $dark;
    h2,  h3,  h4,  h5,  h6,
    p, p span,  p a,  a,  ul,  li {
      color:$white;
    }
    & a:hover {
      color: $main-light;
    }

  }
  .row {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    margin:0;
    > div:not(.btn-wrap) {
      position: relative;
      display: flex;
      flex-direction: column;
      overflow:visible;
    }
    ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 40px;
      padding-right: 0px;
  
      li {
        margin-bottom: 10px;
        position: relative;
        padding-left: 10px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

//////---------- Type Elements

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
  font-weight: 100;
  margin-top: 0;
  position: relative;
}



h1 {
  font-size:32px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color:$dark;
  z-index: 8;
  @media (min-width:1200px){
    font-size:46px;
  }
}

h2 {
  color:$main;
  margin-bottom: 20px;
  font-size: 26px;
  @media (min-width:992px){
    font-size:40px;
  }
}

h3 {
  font-family: $variable;
  font-size: 30px;
  margin: 20px 0;
  color:$main;
}



p,p span,p a,a,ul,li {
  font-family: $body-font;
  position: relative;
  z-index: 1;
  line-height: 1.7em;
  color:$dark;
  font-size: 16px;
}

a { text-decoration: none;}
a:hover {
  text-decoration: none;
  color: $main-light;
}



////---------- Image elements
.responsive-img img {
  width: 100%;
  height: auto;
}

figure {
  margin: 0;
  z-index: 1;
  // height: 100%;
  width: 100%;
  position: relative;
  svg{
    width: 100%;
    z-index: 1;
    text{
      z-index: 2;
    }
  }
}

.media-box {
  position: relative;
  height: 100%;
  width: 100%;
  overflow:hidden;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }

}

svg {
  overflow: visible !important;
}


////---------- Pseudo elements
.before::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.after::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
///////////////////////////////////////////////////

////all arches//////
.arch{
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  overflow:visible;
  svg.height{
    width: 100%;
    height: 100%;
    z-index: 1;
    image{
      height: 110%;
    }
  }  
  svg.width{
    width: 100%;
    height: 100%;
    z-index: 1;
    image{
      width: 110%;
    }
  }  
  svg textPath{
    font-size: 30px;
    font-family: $variable;
    fill:$main;
  }

  svg.shadowSvg{
    overflow:visible;
    position:absolute;
    width: 80%;
    left: 10%;
    top:10%;
    z-index: -1;
    fill:$secondary;
    filter: drop-shadow(30px -10px 60px rgba(228, 152, 6,0.3));
  }
}
figure.flowers{
  position:absolute;
  svg{
    fill:$secondary-dark
  }
}

//// logo figure colors
svg{
  .light{
    fill:$light;
    transition: fill 0.3s ease-in-out
  }
  .main{
    stroke:none;
    fill:$main;
    transition: fill 0.3s ease-in-out
  }
}
.svg.height{
  max-width: 70%;
  margin: 0 auto;
 image{
  height: 110%;
 }
}
//////////////

// ////buttons
.btn-wrap {
  margin-top:20px;
  a{
    @include transition;
    border-left:1px solid $main;
    color:darken($main, 10%);
    font-size: 20px;
    padding:8px 20px;
    i{
      margin-left:20px;
      color:inherit;  
      @include transition(margin);
    } 
      
    &:hover{
    color:$main;
    border-color:inherit;
      i{
        @include transition(margin);
        margin-left: 30px;
      }
    }
  }
}
div{
  ul.socials{padding: 0; list-style: none; display: flex; margin: 0;}
  i{color:$main; padding:0 10px}
  li{padding: 0;}
  i:hover,
  a:hover{color:$secondary-dark;}
}
////-----------------------------------------/////


///////////////////
.large-text{
  .row > div{
    padding:0 $sm; 
    flex-direction: column-reverse;
    display: flex;   
  }

  figure{
   padding:$sm $sm $sm 0;
   max-width: 200px;
   margin: 0 auto;
  }

  @media (min-width:768px){
    figure.logo-figure{
      max-width: 400px;
    }
  }

  @media (min-width:1025px){
    .row > div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
    figure.logo-figure{
      max-width: 600px;
    }
  }



}

/////////////universal styles///////////
.c-preloader {
  position: fixed;
  top: 0;
  left: 0;
  background: $light;
  width: 100%;
  height: 100vh;
  z-index: 100;
  
  padding: $md $md;
  display: flex;
  justify-content: center;
  flex-direction:row-reverse;
  height: 100vh;
  align-items: center;


  &__count {
    color: $main;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 15vw;
    font-family: $body-font;
  }
  &__progress {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  p{font-size:20px; text-align: center;}
  p.large{
    will-change: transform;
    white-space:nowrap;
    font-size: 18vw;
    line-height: 1;
    color:$main;
    position: relative;
    &:after{
      content:'';
      width: 100%;
      height: 4px;
      background-color: $main;
      bottom: 0;
      right: 0;
      position: absolute;
    }
  }

  .heroAniText,
  .animate{
    opacity:0
  }
  .count-container{
    position: relative;
  }
}

.standard.hero{
  display: flex;
  align-items: center;
  @include gradient(bottom,$grad1);
  .row{   
   padding:$sm $sm 0;
   padding-top:calc( 90px + 6%);
   @media (min-width:1440px){
    padding: $md $sm;
   }
    .visual{
      .bg-img-hero{
        @include bg-img(url("../img/bg-01.jpg"), 45% 100%, cover);
        border-top-left-radius: 400px;
        border-top-right-radius: 400px;
        box-shadow: 40px 40px 60px rgba(228, 152, 6,0.1);
        height: 100%;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        min-height: 60vh;
      }  
      @media (min-width:769px){
        .bg-img-hero{
         min-height:unset;
        }
      } 

      @media (min-width:992px){
        min-height: auto;
        .bg-img-hero{
          height: 90%;
          margin: 5% auto;
        }
      }  
    }

    .content{
      padding:$sm;
      padding-left: 0;
      .row{
        padding:$sm ;
        justify-content: center;
        .preamble{
          justify-content: center;
          margin-bottom: 40px;
        }
        .small-branding{
          justify-content: flex-end;
          max-width: 150px;
          margin: 0 auto 20px;
          figure.flowers{
            width: 90%;
            bottom: 0;
            left: -40%;
            // transform-origin: 50% 100%;
          }
        }
        h1,.preamble, .btn-wrap{
          text-align: center;
        }
  
        @media (min-width:768px){
          .small-branding{
            max-width: 200px;
          }
          .preamble{
            padding: 20px;
            margin-bottom: 0px;
          }
  
          .preamble, .btn-wrap{
            text-align: left;
          }
        }
        @media (min-width:992px){
          h1{text-align: left;}
        }
      }

    }

  }
}
.social{
  margin: 0 48px 40px;
  .row > div{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    position: relative;
    padding: 0;
    &::after{
      border-bottom:4px solid $main;
      content:'';
      width: 100%;
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }
}
///////////////////////////////
.slider{
  position: relative;
  .wrapper{
    transform: scale(0.88);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-wrap: nowrap;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  .section { 
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding:0;
    .content{
      transition:all 0.5s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0px 10px;
      height: 100%;
      text-align: center;
      align-items: center;
      width: 100%;
      &.bg{
        padding: 40px 20px 20px;
        background-color: $light; 
        i,
        h3{color: $dark; @include transition;}         
        &:hover{          
          background-color: $main; 
          i,
          h3{@include transition; color: $light;} 
          
        }      
      }

      figure{
          justify-content: center;
          display: flex;
          height: 100%;
          flex-direction: column;
          align-items: center;
          a{
            width:100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

      }

    }  
    @media (min-width:992px){width:50%} 
    @media (min-width:1366px){width:calc(33.333% + 20px)} 
    }
  } 

  &.touch{
    padding: $md $sm 0;
    .wrapper{
      transform: scale(1);
      flex-wrap: wrap;
      .section { 
        width: calc(100% - 20px);
        margin: 10px;
        height: unset;
        .content{
          margin: 0;
          &.bg-img{
            min-height:100vh;
            @media (min-width:992px){
              min-height:50vh;
            }
            @media (min-width:1240px){
              min-height:60vh;
            }
          }

        }

        @media (min-width:992px){width: calc(50% - 20px); margin:10px} 
        @media (min-width:1366px){width:calc(33.333% + 20px)} 

        @media (min-width:1366px){
          width: calc(33.333% - 20px);
          order: 1;
        }
      }
    }
  }
  /////gsap transition
  &.is-active{
    .wrapper{
      margin-top: 60px;
      transform: scale(1);
      width: 100%;
      transition: all 0.3s ease-in-out;
    }
    .content{
      height:95% !important;
    }
  }
}
.about{
  .row{
    padding:$md;
    justify-content: center;
    .content{
      padding:$sm;
      justify-content: center;
    }

    figure.arch{ 
      max-width: 400px;
    }
    .drawText{
      fill:$main
    }

    p,h3,h2{
      text-align: center;
      margin-left:auto;
      margin-right:auto;
    }
    .btn-wrap{
      text-align: center;
    }
    @media (min-width:992px){
      p,h3,h2{
        text-align: left;
      }
      .btn-wrap{
        text-align: left;
      }
    }
 
  }
}
.dates{
  margin: 0 20px;
  display: flex;
  align-items: center;
  background-color:$light;
  .container > .row{   
   padding: $md 6% 6%;
  }
  .visual{
      border-top-left-radius: 400px;
      border-top-right-radius: 400px;
      background-color: $white;
      box-shadow: $shadow;
      margin: 0 auto;
      padding: 80px 20px 40px;
      justify-content: space-evenly;
      figure{
        max-width: 300px;
        margin: 20px auto;
      }
    .text{
      padding:0 20px;
      text-align: center;
      h3{
        font-weight:bold;
      }
      p{
        margin-bottom:40px;
      }
      .btn-wrap{
        a{
          border-left-width:0;
          border-top:1px solid $main;
          padding-top:12px;

        }
      }
    }
  }

  .content{
    padding: $sm $sm;
    justify-content: center;
    h2{
      // color:$light;
      text-align: center;
    }
    .preamble{
      justify-content: center;
      text-align:center;
      // color:$light;
      // p{color:$light;}
    }
    .small-branding{
      justify-content: space-evenly;
      max-width: 250px;
      margin: 0px auto 30px;
      figure.flowers{
        width: 90%;
        bottom: 0;
        left: -40%;
      }
    }
  } 

  @media (min-width:768px){
    margin: 0 40px;
    .small-branding{
      margin: 20px auto;
    }
    .content .preamble{
      text-align: left;
    }
  }

  @media (min-width:992px){
     .content{
       h2,.preamble p{
         text-align: left;
       }
       h2{
         margin-bottom: 40px;
       }
     }
     .visual figure{
       max-width: 80%;
     }
  }
  @media (min-width:1240px){
    .container > .row{   
      padding: $md $sm;
     }
  }


}

.cta{
  @include gradient(top,$grad1);
  .row{
    overflow:visible;
    padding: $lg $sm $lg;
    max-width: 800px;
    margin: 0 auto;
    h2, p{
      text-align: center;
    }
    .branding{
      overflow:visible;
    }
    .preamble{
      justify-content: center;
      align-items: center;
      p{
        margin-top: 20px;
      }
    }

    ul.socials{
      display: flex;
      justify-content:center;
      padding-left: 0;
      li{
        padding: 0 10px ;
        a{
          color:$main;
          &:hover{color:$secondary}
        }
      }
    }

    .btn-wrap {
      a{
        border-width:0;
        i{
          margin-right:20px;
          margin-left: 0;
        }           
        &:hover{
          i{
            margin-left: 0;
            margin-right: 30px;
          }
        }
      }
    }

    @media (min-width:768px){
      .preamble{
        align-items: flex-start;
      p{
        text-align: left;
      }
    }
    }
  }
} 
.navbar {
  margin: 0 auto;
  box-shadow: none;
  padding: 0;
  z-index: 5;
  position:fixed;
  width: 100%;
  top:0;
  left:0;
  z-index: 10;
  width: 100%;
  background-color: $light;
  @include transition();
  .container-fluid {
    padding: 10px $sm;  
    a.navbar-brand {
      justify-content: flex-start;
      height: 60px;
      position: relative;
      padding: 0;
      display: flex;
      align-items: center;
      margin:0;
      figure{
        position: relative; 
        margin:0;
        overflow:visible;
        height: 100%;
        svg {
          overflow:visible;
          width: 100%;
          height: 100%;
          max-width: 200px;
          transform: scale(1);
          transform-origin: 0 0;
          transform-origin: 50% 00%;
          @include transition;
          .circle{
            fill:$main;
            @include transition;
          }
          .outline{
            stroke:$dark;
            stroke-width: 0.5px;
          }
          .hair{
            fill:$white;
            @include transition;
          }
        }
      }
      p{
        color:$main;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom:0;
        // padding-left:10px;
      }

      @media (min-width:992px){
        // width: 320px;
        p{font-size: 28px;}
      }
    }
    // hamburger
    button.navbar-toggler {
      position: relative;
      padding: 0 10px;
      font-size: 30px;
      line-height: 1;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      transition: none;
      display: flex;
      flex-direction: row;
      height: 100%;
      align-items: center;
      &:focus {
        box-shadow: none;
      }
      .navbar-toggler-icon {
        color: $secondary;
        height: auto;
      }
    }
    // hamburger down
    div.navbar-collapse {
      justify-content: flex-end;  
      margin-top: -1px;
      transition: all 0.5s ease-in-out;
      ul.navbar-nav {
        padding: 0px 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height:calc(100vh - 80px);
        a.nav-link {
          padding: 10px 14px;
          color:$main;
          &:hover{
            color:$secondary-dark;
          }
        }
        .socials{
          margin-top:20px
        }
        @media (min-width:992px){
          height:inherit;
          .socials{
            margin-top:0
          }
        }
      }
    }
    .open {
        .navbar-toggler-icon i {
            transform: rotate(-90deg);
        }
    }
  }  
  

  @media (min-width:992px){
    background-color: transparent;
    .container-fluid{
        button.navbar-toggler{
            display:none;
        }
        div.navbar-collapse{
            background-color: transparent;
        }
      }
  }

  &.nav--scrolled {
    background-color: $light;
    @include transition();
  }
}




