@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700|Raleway:300,400,600&display=swap');
@import url("https://d2ta2fpo91apla.cloudfront.net/fontawesome-free-5.9.0-web/css/all.min.css");


@font-face {
  font-family: 'Pacifico-Regular';
 src:url('../fonts/Pacifico-Regular.ttf') format('truetype');
}


body {
  background-color:$main-light;
  position: relative;  
  height: 100%;
  margin: 0;
  max-width:2000px;
  overflow-x:hidden;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.container-fluid,
.container{
  padding:0;
}
.row{
  margin-left:0;
  margin-right:0;
  div{
    padding:0;
  }
  figure{
    margin:0;
  }
}

a, p, li{ 
  font-family:$body-font; 
  font-size:16px; 
  position: relative;
  z-index: 1;
  line-height:1.7em;
  font-size:18px;
  margin-bottom:0;
}
a:hover{
  color:$dark;
  text-decoration: none;
}

p, p span,p a,a{  color:$dark;}
.dark{
  h1, h2, h3, h4, h5, h6,
  p, p span,p a,a,ul,li{  
    color:$white; 
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;  

  letter-spacing: 1px;
}


  h1 {
    letter-spacing: 1px;
    font-size:1.5em;
    font-weight: 700;
    @media (min-width:768px){
      font-size:1.8em;
    }
    @media (min-width:1024px){
      font-size:2em;
    }
    @media (min-width:1200px){
      font-size:3.5em;
    }
  }

h2{
  font-weight: 700;
  letter-spacing: 1px;
  font-size:1.5em;
  @media (min-width:768px){
    font-size:1.5em;
  }
  @media (min-width:1024px){
    font-size:1.8em;
  }
  @media (min-width:1200px){
    font-size:2.5em;
  }
}

img{
  position: relative;
}

.media-box{
  position: relative; 
  height:50vh;
  width: 100%;
  overflow: hidden;
  @media (min-width:992px){
   min-height:95vh;
   height:100%;
  }
} 

.media-box img {
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover; 
  object-fit: cover;
  -o-object-position: 50% 50%; 
  object-position: 50% 50%;
} 


// .before::before{
//   content:'';
//   position: absolute;
//   width:100%;
//   height:100vh;
//   top:0;
//   left:0;
//   z-index: 0;
// }

.after::before{
  content:'';
  position: absolute;
  width:100%;
  height:40%;
  top:0;
  left:0;
  z-index: 0;
}
/////////////styles///////////

.styled{
  .container-fluid{ 
    max-width: calc(100% - 7%);
    .row{
      background-color: $main-dark;
      padding: 4%;
      margin: 0 auto;
      .row{
        padding: 0;
      } 
    }
  }
}
//////////////general///////////////
.hero{
	position: relative;
  .row{
    align-items: center;
    padding: $sm $sm $md;
    div{
      text-align: center;
      order:1;
      &:first-of-type{
        order:3
      }
      &:last-of-type{
        order: 2;
      }
      @media (min-width:992px){
        text-align: left;
        &:first-of-type{
          order:1
        }
      }
    }
  }
  .hero-intro{
    padding: $sm;
    position: relative;
    z-index: 1;
  }
  .small-text{
		font-family:$other-font;
		font-size:1.7em;
		color:$secondary-dark;
		letter-spacing: 2px;
	}
  .handwritten{
    display: block;
    font-size: 30vw;
    font-family:$other-font;
    color:lighten($main, 6%);
    font-weight:lighter;
    z-index: -10;
    line-height: 0;

    @media(min-width:992px){
      position: absolute;
      width: 100%;
      display:block;
      top:20px;				
      left:-15%;
      font-size:20vw;
    }
  }
  .bottle {
    z-index: 2;
    @media (max-width:768px){
      max-width: 50%;
      margin: 0 auto;
    }
  }  
  .media-box{
    @media (min-width:992px){
      min-height:80vh;
      height:100%;
    }
  }
  .ctc{
    margin-top: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    i{padding: 0 0 0 20px ;}
    @media (min-width:992px){
      justify-content:flex-start;
    }
  }
}
//////////////////////////////////////////
.pods{
  margin-bottom: $md;
  .container-fluid{ 
    .row{
      .media-box{
        @media (min-width:992px){
          min-height:50vh;
        }
      }
      h2{
        color:$white;
        margin: 50px 0; 
        text-align: center;       
        @media(min-width:992px){
          margin-right: -8%;
          max-width: 900px;
          text-align: right;
          z-index: 2;
          margin-left: auto;
        }
      }      
    }
    .order{
      display: flex;
      flex-direction: column-reverse;
      @media(min-width:992px){
        flex-direction: row;
      }
    }
  }

 .branding{
    &.bg-img{
      @include bg-img(url("../img/product-01.jpg"));
      min-height: 50vh;
    }
  }

  .pods-wrapper{
    display: flex;
    flex-direction: column;
    .row{
      flex-direction: column-reverse;
      @media (min-width:576px){
        flex-direction: row;
      }
    }
    .pod{          
      figure{
        background: $main;
        height: 100%;
        @media (min-width:992px){
          margin:0 20px;
        } 
      }
      a{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
          margin: 20px 0 ;
        }
      }
      &.bg-img{
        @include bg-img(url("../img/flamingo.jpg"));
        min-height: 50vh;
          @media (min-width:576px){
            min-height: inherit;
          }
      }
    }
  }
}
////////////////////////////////////////////////
.products{
  padding:$lg 0;
	text-align: center;

	.img-fluid {
		max-width:300px !important;
	}
	h2{
		position: relative;
		padding-top:40px;
		padding-bottom:8%;
		z-index: 1;
		&::after{
			content: 'your style';
			position: absolute;
			top:0;
			display: block;
			font-size:10vw;
			font-family:$other-font;
			font-weight:lighter;
			color:$main;
			z-index: -10;
			line-height: 0;
			width:100%;
			@media(min-width:768px){
				top:-40px;
			}
		}
	}
	a{		
		background-color:#fff;
		overflow:hidden;
		h4{
			line-height: 50px;
			// font-weight: bold;
			font-size:1em;
			span{
				border:1.5px solid $main-dark;
				padding:8px 12px 8px;
			}
			b{
				padding:8px;
				border:1.5px solid $dark;
				border-right:0;
			}
			.fas{padding-left:10px;}
		}

		span,b{
			transition:all .5s ease-in-out;
		}
		&:hover{		
			text-decoration:none;
			span,b{
				color:#fff;
				transition:all .5s ease-in-out;
				background-color: $secondary-dark;
				border-color:#f2f2f2;
			}
		}
	}
}

.usps{
  padding:$md;
  .row{
    .content{
      padding:$lg;
      text-align: center;
    
    }
    figure.blobs{
      width: 100%;
      margin: 0 auto;
      max-width: 150px;
    }    

    h3{
      padding:20px 10px 10px;
      font-weight: bold;
      font-size:1em;
      span{
        border:1.5px solid $dark;
        padding:8px;
      }
      b{
        padding:8px;
        border:1.5px solid $dark;
        border-right:0;
      }
    }
 
    h3,p{
      text-align: center;
      color:$dark;      
    }
    
    @media (min-width:1200px){
      p{padding:0 20px;}
    }
  }
}

.blobs{
  svg{
    path{
      position: absolute;
      top: 0;
      left: 0;
      width:100px;
      z-index: -1;
      transform-origin: 50% 50%;
    }
    .main{fill:$main;  animation: move-one 10s ease-in-out infinite;}
    .feature{fill:$main-dark;  animation: move-two 10s ease-in-out infinite;}
    .other{fill:$secondary-dark;  animation: move-three 10s ease-in-out infinite;}  
  }

  @keyframes move-one {
      0%   { transform: scale(1); }
      20%  { transform: scale(0.7, 1) rotate(160deg); }
      35%  { transform: scale(0.8, 1)  rotate(160deg); }
      66%  { transform: scale(0.9) rotate(-20deg); }
      86%  { transform: scale(0.9)  rotate(-20deg); }
      100% { transform: scale(1) }
    }
    @keyframes move-two {
      0%   { transform: scale(1)}
      40%  { transform: scale(0.8, 1) rotate(160deg); }
      50%  { transform: scale(0.8, 1) rotate(160deg); }
      60%  { transform: scale(1) rotate(-20deg); }
      80%  { transform: scale(0.6) rotate(-20deg); }
      100% { transform: scale(1)  }
    }
    @keyframes move-three {
      0%   { transform: scale(1); }
      20%  { transform: scale(0.9)  rotate(-20deg); }
      35%  { transform: scale(0.9, )  rotate(160deg); }
      66%  { transform: scale(0.8,1) rotate(-20deg); }
      86%  {  transform: scale(0.7, 1) rotate(160deg);}
      100% { transform: scale(1) }
    }
}

//////////////////////////////////
.intro{
  .row{
    h2,p{
      color:$white;
      margin: 50px 0; 
      text-align: center;       
    }
  }  
}
.testimonials{
  .container-fluid{
    position: relative;
    .row{
      padding-top: 0;
      .row{
        .testimonial{
          display: flex;
          h3{
            font-family:$other-font;
            margin-bottom:20px;
          }
          p{color:$white}
          div{
            padding: $md;
            text-align: center;
            background-color: $secondary-dark;        
            min-height: 50vh;
            justify-content: center;
            display: flex;
            flex-direction: column;
            @media (min-width:992px){
              margin:0 10px
            }
            @media (min-width:1240px){
              min-height: 70vh;
            }
          }
          figure{
            svg{
              max-width:50px;
              margin-bottom: 20px;
              fill:$main;
            }
          }
        }
        .bg-img{
          figure{
            width: 100%;
            height: 100%;
            min-height: 60vh;
          }
        }
      }

      .row:first-of-type{
        .bg-img:first-of-type{
          @include bg-img(url("../img/product-04.jpg"));
        }
        .bg-img:last-of-type{
          @include bg-img(url("../img/model-02.jpg"));
        }
      }

      .row:nth-last-of-type(2){
        div{order:1}
        .testimonial{
          display: flex;
          background-color:$white;
          div{
            margin:0;
            background-color:transparent;
            p{color:$dark}
          }
          
          &.testimonial:first-of-type{
            background-color: $main;
            @media (max-width:992px){
              order: 3
            }
          }
          svg{fill:$secondary-dark}
        }
        .bg-img{
          figure{
            @include bg-img(url("../img/model-03.jpg"));
            @media (min-width:992px){
              width:calc(100% - 20px);
              margin-left: 10px;
            }
          }
        }
        @media(min-width:992px){
          margin-top: 10px;
        }
      }
      
      .row:last-of-type{
        .bg-img:first-of-type{
          figure{
            @include bg-img(url("../img/product-03.png"),75% 70%, cover);
          }
        }
        .bg-img:last-of-type{
          figure{
            @include bg-img(url("../img/model-05.jpg"));
          }
        }
        @media(min-width:992px){
          margin-top: 10px;
        }
      }
    }
  }
}


.cta{
  .row{
    padding: $md $sm 0;
    div{
      flex-direction: column;
      display: flex;
      justify-content: center;
      text-align: center;
      @media (min-width:768px){
        text-align: left;
      }
    }
  }
  .blobs{
    svg{
      position: absolute;
      z-index: 0;
      .pattern{
        transform: rotate(15deg);
      }
    }
  }
  ul{
		list-style: none;
		display: flex; 
		padding-left: 0;
		margin-top: 20px;
    justify-content: center;
    i{color:$main;}
		li{padding: 0 20px;}
		i:hover,
		a:hover{color:$main-dark;}

    @media (min-width:768px){
      justify-content: flex-start;
      li{padding: 0 40px 0 0;}
    }
	}
}


