@import url("https://d2ta2fpo91apla.cloudfront.net/fontawesome-free-5.9.0-web/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
html,
body {
  position: relative; }

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 2000px;
  overflow-x: hidden;
  background-color: #f5efe3;
  background-color: green;
  background-image: url("../img/background-texture.png");
  background-repeat: repeat; }

.container-fluid,
.container {
  padding-left: 0px;
  padding-right: 0px;
  overflow: visible; }
  @media (max-width: 1024px) {
    .container-fluid,
    .container {
      max-width: unset; } }

.standard {
  position: relative; }
  .standard.dark {
    background-color: #011147; }
    .standard.dark h2, .standard.dark h3, .standard.dark h4, .standard.dark h5, .standard.dark h6,
    .standard.dark p, .standard.dark p span, .standard.dark p a, .standard.dark a, .standard.dark ul, .standard.dark li {
      color: #e6e1d9; }
    .standard.dark a:hover {
      color: #4f5465; }
  .standard .row {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0; }
    .standard .row > div:not(.btn-wrap) {
      position: relative;
      display: flex;
      flex-direction: column;
      overflow: visible; }
    .standard .row ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 40px;
      padding-right: 0px; }
      .standard .row ul li {
        margin-bottom: 10px;
        position: relative;
        padding-left: 10px; }
        .standard .row ul li:last-of-type {
          margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Marcellus", serif;
  font-weight: 100;
  margin-top: 0;
  position: relative; }

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  color: #011147;
  z-index: 8; }
  @media (min-width: 1200px) {
    h1 {
      font-size: 46px; } }

h2 {
  color: #424e78;
  margin-bottom: 20px;
  font-size: 26px; }
  @media (min-width: 992px) {
    h2 {
      font-size: 40px; } }

h3 {
  font-family: "Oooh Baby", cursive;
  font-size: 30px;
  margin: 20px 0;
  color: #424e78; }

p, p span, p a, a, ul, li {
  font-family: "Marcellus", serif;
  position: relative;
  z-index: 1;
  line-height: 1.7em;
  color: #011147;
  font-size: 16px; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #4f5465; }

.responsive-img img {
  width: 100%;
  height: auto; }

figure {
  margin: 0;
  z-index: 1;
  width: 100%;
  position: relative; }
  figure svg {
    width: 100%;
    z-index: 1; }
    figure svg text {
      z-index: 2; }

.media-box {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .media-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%; }

svg {
  overflow: visible !important; }

.before::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; }

.after::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; }

.arch {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  overflow: visible; }
  .arch svg.height {
    width: 100%;
    height: 100%;
    z-index: 1; }
    .arch svg.height image {
      height: 110%; }
  .arch svg.width {
    width: 100%;
    height: 100%;
    z-index: 1; }
    .arch svg.width image {
      width: 110%; }
  .arch svg textPath {
    font-size: 30px;
    font-family: "Oooh Baby", cursive;
    fill: #424e78; }
  .arch svg.shadowSvg {
    overflow: visible;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 10%;
    z-index: -1;
    fill: #e49806;
    filter: drop-shadow(30px -10px 60px rgba(228, 152, 6, 0.3)); }

figure.flowers {
  position: absolute; }
  figure.flowers svg {
    fill: #c52800; }

svg .light {
  fill: #d8d1c3;
  transition: fill 0.3s ease-in-out; }
svg .main {
  stroke: none;
  fill: #424e78;
  transition: fill 0.3s ease-in-out; }

.svg.height {
  max-width: 70%;
  margin: 0 auto; }
  .svg.height image {
    height: 110%; }

.btn-wrap {
  margin-top: 20px; }
  .btn-wrap a {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    border-left: 1px solid #424e78;
    color: #303957;
    font-size: 20px;
    padding: 8px 20px; }
    .btn-wrap a i {
      margin-left: 20px;
      color: inherit;
      transition-property: margin;
      transition-duration: 0.3s;
      transition-timing-function: ease-in; }
    .btn-wrap a:hover {
      color: #424e78;
      border-color: inherit; }
      .btn-wrap a:hover i {
        transition-property: margin;
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
        margin-left: 30px; }

div ul.socials {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0; }
div i {
  color: #424e78;
  padding: 0 10px; }
div li {
  padding: 0; }
div i:hover,
div a:hover {
  color: #c52800; }

.large-text {
  padding: 8% 8%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  height: 100vh;
  align-items: center;
  background: -webkit-linear-gradient(top, transparent 0%, rgba(216, 209, 195, 0.1) 15%, rgba(216, 209, 195, 0.4) 35%, rgba(216, 209, 195, 0.8) 80%);
  background: -moz-linear-gradient(top, transparent 0%, rgba(216, 209, 195, 0.1) 15%, rgba(216, 209, 195, 0.4) 35%, rgba(216, 209, 195, 0.8) 80%);
  background: -o-linear-gradient(top, transparent 0%, rgba(216, 209, 195, 0.1) 15%, rgba(216, 209, 195, 0.4) 35%, rgba(216, 209, 195, 0.8) 80%);
  background: linear-gradient(top, transparent 0%, rgba(216, 209, 195, 0.1) 15%, rgba(216, 209, 195, 0.4) 35%, rgba(216, 209, 195, 0.8) 80%); }
  .large-text .row > div {
    padding: 0 4%;
    flex-direction: column-reverse;
    display: flex; }
  .large-text p {
    font-size: 20px;
    text-align: center; }
  .large-text p.large {
    will-change: transform;
    white-space: nowrap;
    font-size: 18vw;
    line-height: 1;
    color: #424e78;
    position: relative; }
    .large-text p.large:after {
      content: '';
      width: 100%;
      height: 4px;
      background-color: #424e78;
      bottom: 0;
      right: 0;
      position: absolute; }
  .large-text figure {
    padding: 4% 4% 4% 0;
    max-width: 450px;
    margin: 0 auto;
    min-width: 300px; }
  @media (min-width: 1025px) {
    .large-text .row > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; }
    .large-text figure.logo-figure {
      max-width: 600px; } }

.c-preloader {
  position: fixed;
  top: 0;
  left: 0;
  background: #d8d1c3;
  width: 100%;
  height: 100vh;
  z-index: 100; }
  .c-preloader__count {
    color: #424e78;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 15vw;
    font-family: "Marcellus", serif; }
  .c-preloader__progress {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .c-preloader .heroAniText,
  .c-preloader .animate {
    opacity: 0; }
  .c-preloader .count-container {
    position: relative; }

.standard.hero {
  display: flex;
  align-items: center;
  background: -webkit-linear-gradient(bottom, transparent 0%, rgba(216, 209, 195, 0.1) 15%, rgba(216, 209, 195, 0.4) 35%, rgba(216, 209, 195, 0.8) 80%);
  background: -moz-linear-gradient(bottom, transparent 0%, rgba(216, 209, 195, 0.1) 15%, rgba(216, 209, 195, 0.4) 35%, rgba(216, 209, 195, 0.8) 80%);
  background: -o-linear-gradient(bottom, transparent 0%, rgba(216, 209, 195, 0.1) 15%, rgba(216, 209, 195, 0.4) 35%, rgba(216, 209, 195, 0.8) 80%);
  background: linear-gradient(bottom, transparent 0%, rgba(216, 209, 195, 0.1) 15%, rgba(216, 209, 195, 0.4) 35%, rgba(216, 209, 195, 0.8) 80%); }
  .standard.hero .row {
    padding: 4% 4% 0;
    padding-top: calc( 90px + 6%); }
    @media (min-width: 1440px) {
      .standard.hero .row {
        padding: 8% 4%; } }
    .standard.hero .row .visual .bg-img-hero {
      background-image: url("../img/bg-01.jpg");
      background-repeat: no-repeat;
      background-position: 45% 100%;
      background-size: cover;
      border-top-left-radius: 400px;
      border-top-right-radius: 400px;
      box-shadow: 40px 40px 60px rgba(228, 152, 6, 0.1);
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: 0 auto; }
    @media (min-width: 768px) {
      .standard.hero .row .visual {
        min-height: 70vh; } }
    @media (min-width: 992px) {
      .standard.hero .row .visual {
        min-height: auto; }
        .standard.hero .row .visual .bg-img-hero {
          height: 90%;
          margin: 5% auto; } }
    .standard.hero .row .content {
      padding: 4%;
      padding-left: 0; }
      .standard.hero .row .content .row {
        padding: 4%;
        justify-content: center; }
        .standard.hero .row .content .row .preamble {
          justify-content: center;
          margin-bottom: 40px; }
        .standard.hero .row .content .row .small-branding {
          justify-content: flex-end;
          max-width: 150px;
          margin: 0 auto 20px; }
          .standard.hero .row .content .row .small-branding figure.flowers {
            width: 90%;
            bottom: 0;
            left: -40%; }
        .standard.hero .row .content .row h1, .standard.hero .row .content .row .preamble, .standard.hero .row .content .row .btn-wrap {
          text-align: center; }
        @media (min-width: 768px) {
          .standard.hero .row .content .row .small-branding {
            max-width: 200px; }
          .standard.hero .row .content .row .preamble {
            padding: 20px;
            margin-bottom: 0px; }
          .standard.hero .row .content .row .preamble, .standard.hero .row .content .row .btn-wrap {
            text-align: left; } }
        @media (min-width: 992px) {
          .standard.hero .row .content .row h1 {
            text-align: left; } }

.social {
  margin: 0 48px 40px; }
  .social .row > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0; }
    .social .row > div::after {
      border-bottom: 4px solid #424e78;
      content: '';
      width: 100%;
      bottom: 0;
      left: 0;
      position: absolute; }

.slider {
  position: relative; }
  .slider .wrapper {
    transform: scale(0.88);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-wrap: nowrap;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    overflow: hidden; }
    .slider .wrapper .section {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      padding: 0; }
      .slider .wrapper .section .content {
        transition: all 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 10px;
        height: 100%;
        text-align: center;
        align-items: center;
        width: 100%; }
        .slider .wrapper .section .content.bg {
          padding: 40px 20px 20px;
          background-color: #d8d1c3; }
          .slider .wrapper .section .content.bg i,
          .slider .wrapper .section .content.bg h3 {
            color: #011147;
            transition-property: all;
            transition-duration: 0.3s;
            transition-timing-function: ease-in; }
          .slider .wrapper .section .content.bg:hover {
            background-color: #424e78; }
            .slider .wrapper .section .content.bg:hover i,
            .slider .wrapper .section .content.bg:hover h3 {
              transition-property: all;
              transition-duration: 0.3s;
              transition-timing-function: ease-in;
              color: #d8d1c3; }
        .slider .wrapper .section .content figure {
          justify-content: center;
          display: flex;
          height: 100%;
          flex-direction: column;
          align-items: center; }
          .slider .wrapper .section .content figure a {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center; }
      @media (min-width: 992px) {
        .slider .wrapper .section {
          width: 50%; } }
      @media (min-width: 1366px) {
        .slider .wrapper .section {
          width: calc(33.333% + 20px); } }
  .slider.touch {
    padding: 8% 4% 0; }
    .slider.touch .wrapper {
      transform: scale(1);
      flex-wrap: wrap; }
      .slider.touch .wrapper .section {
        width: calc(100% - 20px);
        margin: 10px;
        height: unset; }
        .slider.touch .wrapper .section .content {
          margin: 0; }
          .slider.touch .wrapper .section .content.bg-img {
            min-height: 100vh; }
            @media (min-width: 992px) {
              .slider.touch .wrapper .section .content.bg-img {
                min-height: 50vh; } }
            @media (min-width: 1240px) {
              .slider.touch .wrapper .section .content.bg-img {
                min-height: 60vh; } }
        @media (min-width: 992px) {
          .slider.touch .wrapper .section {
            width: calc(50% - 20px);
            margin: 10px; } }
        @media (min-width: 1366px) {
          .slider.touch .wrapper .section {
            width: calc(33.333% + 20px); } }
        @media (min-width: 1366px) {
          .slider.touch .wrapper .section {
            width: calc(33.333% - 20px);
            order: 1; } }
  .slider.is-active .wrapper {
    margin-top: 60px;
    transform: scale(1);
    width: 100%;
    transition: all 0.3s ease-in-out; }
  .slider.is-active .content {
    height: 95% !important; }

.about .row {
  padding: 8%;
  justify-content: center; }
  .about .row .content {
    padding: 4%;
    justify-content: center; }
  .about .row figure.arch {
    max-width: 400px; }
  .about .row .drawText {
    fill: #424e78; }
  .about .row p, .about .row h3, .about .row h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .about .row .btn-wrap {
    text-align: center; }
  @media (min-width: 992px) {
    .about .row p, .about .row h3, .about .row h2 {
      text-align: left; }
    .about .row .btn-wrap {
      text-align: left; } }

.dates {
  margin: 0 20px;
  display: flex;
  align-items: center;
  background-color: #d8d1c3; }
  .dates .container > .row {
    padding: 8% 6% 6%; }
  .dates .visual {
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
    background-color: #e6e1d9;
    box-shadow: 0 10px 20px rgba(160, 160, 160, 0.2);
    margin: 0 auto;
    padding: 80px 20px 40px;
    justify-content: space-evenly; }
    .dates .visual figure {
      max-width: 300px;
      margin: 20px auto; }
    .dates .visual .text {
      padding: 0 20px;
      text-align: center; }
      .dates .visual .text h3 {
        font-weight: bold; }
      .dates .visual .text p {
        margin-bottom: 40px; }
      .dates .visual .text .btn-wrap a {
        border-left-width: 0;
        border-top: 1px solid #424e78;
        padding-top: 12px; }
  .dates .content {
    padding: 4% 4%;
    justify-content: center; }
    .dates .content h2 {
      text-align: center; }
    .dates .content .preamble {
      justify-content: center;
      text-align: center; }
    .dates .content .small-branding {
      justify-content: space-evenly;
      max-width: 250px;
      margin: 0px auto 30px; }
      .dates .content .small-branding figure.flowers {
        width: 90%;
        bottom: 0;
        left: -40%; }
  @media (min-width: 768px) {
    .dates {
      margin: 0 40px; }
      .dates .small-branding {
        margin: 20px auto; }
      .dates .content .preamble {
        text-align: left; } }
  @media (min-width: 992px) {
    .dates .content h2, .dates .content .preamble p {
      text-align: left; }
    .dates .content h2 {
      margin-bottom: 40px; }
    .dates .visual figure {
      max-width: 80%; } }
  @media (min-width: 1240px) {
    .dates .container > .row {
      padding: 8% 4%; } }

.cta {
  background: -webkit-linear-gradient(top, transparent 0%, rgba(216, 209, 195, 0.1) 15%, rgba(216, 209, 195, 0.4) 35%, rgba(216, 209, 195, 0.8) 80%);
  background: -moz-linear-gradient(top, transparent 0%, rgba(216, 209, 195, 0.1) 15%, rgba(216, 209, 195, 0.4) 35%, rgba(216, 209, 195, 0.8) 80%);
  background: -o-linear-gradient(top, transparent 0%, rgba(216, 209, 195, 0.1) 15%, rgba(216, 209, 195, 0.4) 35%, rgba(216, 209, 195, 0.8) 80%);
  background: linear-gradient(top, transparent 0%, rgba(216, 209, 195, 0.1) 15%, rgba(216, 209, 195, 0.4) 35%, rgba(216, 209, 195, 0.8) 80%); }
  .cta .row {
    overflow: visible;
    padding: 10% 4% 10%;
    max-width: 800px;
    margin: 0 auto; }
    .cta .row h2, .cta .row p {
      text-align: center; }
    .cta .row .branding {
      overflow: visible; }
    .cta .row .preamble {
      justify-content: center;
      align-items: center; }
      .cta .row .preamble p {
        margin-top: 20px; }
    .cta .row ul.socials {
      display: flex;
      justify-content: center;
      padding-left: 0; }
      .cta .row ul.socials li {
        padding: 0 10px; }
        .cta .row ul.socials li a {
          color: #424e78; }
          .cta .row ul.socials li a:hover {
            color: #e49806; }
    .cta .row .btn-wrap a {
      border-width: 0; }
      .cta .row .btn-wrap a i {
        margin-right: 20px;
        margin-left: 0; }
      .cta .row .btn-wrap a:hover i {
        margin-left: 0;
        margin-right: 30px; }
    @media (min-width: 768px) {
      .cta .row .preamble {
        align-items: flex-start; }
        .cta .row .preamble p {
          text-align: left; } }

.navbar {
  margin: 0 auto;
  box-shadow: none;
  padding: 0;
  z-index: 5;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  flex-wrap: nowrap;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  .navbar .container-fluid {
    padding: 10px 4%; }
    .navbar .container-fluid a.navbar-brand {
      justify-content: flex-start;
      height: 60px;
      position: relative;
      padding: 0;
      display: flex;
      align-items: center;
      margin: 0; }
      .navbar .container-fluid a.navbar-brand figure {
        position: relative;
        margin: 0;
        overflow: visible;
        height: 100%;
        max-width: 35%; }
        .navbar .container-fluid a.navbar-brand figure svg {
          overflow: visible;
          width: 100%;
          height: 100%;
          max-width: 200px;
          transform: scale(1);
          transform-origin: 0 0;
          transform-origin: 50% 00%;
          transition-property: all;
          transition-duration: 0.3s;
          transition-timing-function: ease-in; }
          .navbar .container-fluid a.navbar-brand figure svg .circle {
            fill: #424e78;
            transition-property: all;
            transition-duration: 0.3s;
            transition-timing-function: ease-in; }
          .navbar .container-fluid a.navbar-brand figure svg .outline {
            stroke: #011147;
            stroke-width: 0.5px; }
          .navbar .container-fluid a.navbar-brand figure svg .hair {
            fill: #e6e1d9;
            transition-property: all;
            transition-duration: 0.3s;
            transition-timing-function: ease-in; }
      .navbar .container-fluid a.navbar-brand p {
        color: #424e78;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 0;
        margin-left: 10px; }
      @media (min-width: 992px) {
        .navbar .container-fluid a.navbar-brand p {
          font-size: 28px; } }
    .navbar .container-fluid button.navbar-toggler {
      padding: 0 10px;
      font-size: 30px;
      line-height: 1;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      transition: none;
      display: flex;
      flex-direction: row;
      height: 100%;
      align-items: center; }
      .navbar .container-fluid button.navbar-toggler:focus {
        box-shadow: none; }
      .navbar .container-fluid button.navbar-toggler .navbar-toggler-icon {
        color: #e49806;
        height: auto; }
    .navbar .container-fluid div.navbar-collapse {
      justify-content: flex-end;
      margin-top: -1px;
      transition: all 0.5s ease-in-out; }
      .navbar .container-fluid div.navbar-collapse ul.navbar-nav {
        padding: 0px 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; }
        .navbar .container-fluid div.navbar-collapse ul.navbar-nav a.nav-link {
          padding: 10px 14px;
          color: #424e78; }
          .navbar .container-fluid div.navbar-collapse ul.navbar-nav a.nav-link:hover {
            color: #c52800; }
        .navbar .container-fluid div.navbar-collapse ul.navbar-nav .socials {
          margin-top: 20px; }
        @media (min-width: 992px) {
          .navbar .container-fluid div.navbar-collapse ul.navbar-nav {
            height: inherit; }
            .navbar .container-fluid div.navbar-collapse ul.navbar-nav .socials {
              margin-top: 0; } }
    .navbar .container-fluid .open .navbar-toggler-icon i {
      transform: rotate(-90deg); }
  @media (min-width: 992px) {
    .navbar .container-fluid button.navbar-toggler {
      display: none; }
    .navbar .container-fluid div.navbar-collapse {
      background-color: transparent; } }
  .navbar.nav--scrolled {
    background-color: #d8d1c3;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; }

/*# sourceMappingURL=styles.css.map */
