@import url("https://d2ta2fpo91apla.cloudfront.net/fontawesome-free-5.9.0-web/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Meddon&family=Marcellus&display=swap");
html,
body {
  position: relative; }

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 2000px;
  overflow-x: hidden;
  background-color: #fafafa;
  background-image: url("../img/background-texture.png");
  background-repeat: repeat; }

.container-fluid,
.container {
  padding-left: 0px;
  padding-right: 0px;
  overflow: visible; }
  @media (max-width: 1024px) {
    .container-fluid,
    .container {
      max-width: unset; } }

.standard {
  position: relative; }
  .standard.dark {
    background-color: #011147; }
    .standard.dark h2, .standard.dark h3, .standard.dark h4, .standard.dark h5, .standard.dark h6,
    .standard.dark p, .standard.dark p span, .standard.dark p a, .standard.dark a, .standard.dark ul, .standard.dark li {
      color: #fafafa; }
    .standard.dark a:hover {
      color: #4f5465; }
  .standard .row {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0; }
    .standard .row > div:not(.btn-wrap) {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 0;
      overflow: visible; }
      .standard .row > div:not(.btn-wrap).content {
        padding: 0; }
        @media (min-width: 992px) {
          .standard .row > div:not(.btn-wrap).content {
            padding: 4%; } }
        .standard .row > div:not(.btn-wrap).content ul {
          list-style: none;
          margin-bottom: 0;
          padding-left: 40px;
          padding-right: 0px; }
          .standard .row > div:not(.btn-wrap).content ul li {
            margin-bottom: 10px;
            position: relative;
            padding-left: 10px; }
            .standard .row > div:not(.btn-wrap).content ul li:last-of-type {
              margin-bottom: 0; }

span.detail {
  color: #e49806;
  font-family: "Meddon", cursive;
  white-space: nowrap; }

h2 span.detail {
  font-size: 30px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Marcellus", serif;
  font-weight: 100;
  margin-top: 0;
  position: relative; }

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  color: #011147;
  z-index: 8; }
  h1 span.detail {
    font-size: 30px; }
  @media (min-width: 1200px) {
    h1 {
      font-size: 46px; }
      h1 span.detail {
        font-size: 50px; } }

h2 {
  color: #424e78;
  margin-bottom: 20px;
  font-size: 26px; }
  @media (min-width: 992px) {
    h2 {
      font-size: 30px; } }
  h2 span.detail {
    font-size: 30px; }

h3 {
  font-size: 22px;
  margin: 20px 0;
  color: #4f5465; }
  h3 span.detail {
    font-size: 22px; }

p, p span, p a, a, ul, li {
  font-family: "Marcellus", serif;
  position: relative;
  z-index: 1;
  line-height: 1.7em;
  color: #011147;
  font-size: 16px; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #4f5465; }

.responsive-img img {
  width: 100%;
  height: auto; }

figure {
  margin: 0;
  z-index: 1;
  width: 100%;
  position: relative; }
  figure svg {
    width: 100%;
    z-index: 1; }
    figure svg text {
      z-index: 2; }

.media-box {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .media-box img {
    width: 100%;
    height: 100%; }
  @media (min-width: 400px) {
    .media-box {
      min-height: 50vh; }
      .media-box img {
        position: absolute;
        top: 0;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: 50% 50%;
        object-position: 50% 50%; } }
  @media (min-width: 1140px) and (max-width: 1600px) {
    .media-box {
      min-height: 70vh; } }

svg {
  overflow: visible !important; }

.bg-img {
  height: 100%;
  min-height: 50vh;
  width: 100%;
  background-image: url("../img/placeholder.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 0; }
  @media (min-width: 1024px) {
    .bg-img {
      min-height: 70vh; } }
  @media (min-height: 1025px) {
    .bg-img {
      min-height: 40vh; } }

.before::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; }

.after::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; }

.arch {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  overflow: visible; }
  .arch svg.height {
    width: 100%;
    height: 100%;
    filter: drop-shadow(30px -10px 60px rgba(228, 152, 6, 0.2)); }
    .arch svg.height image {
      height: 110%; }
  .arch svg.width {
    width: 100%;
    height: 100%;
    filter: drop-shadow(30px -10px 60px rgba(228, 152, 6, 0.2)); }
    .arch svg.width image {
      width: 110%; }
  .arch svg textPath {
    font-size: 30px;
    font-family: "Meddon", cursive;
    fill: #424e78; }

svg .light {
  fill: #d8d1c3; }
svg .main {
  stroke: none;
  fill: #424e78; }

.btn-wrap {
  margin-top: 20px; }
  .btn-wrap a {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    border-left: 1px solid #424e78;
    color: #c52800;
    font-size: 20px;
    padding: 8px 20px; }
    .btn-wrap a i {
      margin-left: 20px;
      color: inherit;
      transition-property: margin;
      transition-duration: 0.3s;
      transition-timing-function: ease-in; }
    .btn-wrap a:hover {
      color: #424e78;
      border-color: inherit; }
      .btn-wrap a:hover i {
        transition-property: margin;
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
        margin-left: 30px; }

div.socials {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: center; }
  div.socials i {
    color: #424e78;
    padding: 0 10px; }
  div.socials li {
    padding: 0; }
  div.socials i:hover,
  div.socials a:hover {
    color: #c52800; }

.hero .row {
  padding: 20px 4% 4%; }
  .hero .row .visual figure {
    height: 95%;
    min-height: 50vh;
    max-width: 400px;
    margin: 2.5% auto; }
    .hero .row .visual figure .media-box {
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      box-shadow: -40px 40px 60px rgba(228, 152, 6, 0.1); }
      .hero .row .visual figure .media-box img {
        position: absolute;
        top: 0;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: 50% 50%;
        object-position: 50% 50%; }
  .hero .row .content {
    padding: 4%; }
    .hero .row .content .preamble {
      justify-content: center;
      margin-bottom: 40px; }
    .hero .row .content .small-branding {
      justify-content: flex-end;
      max-width: 100px;
      margin: 0 auto; }
    .hero .row .content h1, .hero .row .content .preamble, .hero .row .content .btn-wrap {
      text-align: center; }
    @media (min-width: 768px) {
      .hero .row .content .small-branding {
        max-width: 200px; }
      .hero .row .content .preamble {
        padding: 20px;
        margin-bottom: 0px; }
      .hero .row .content .preamble, .hero .row .content .btn-wrap {
        text-align: left; } }
    @media (min-width: 992px) {
      .hero .row .content h1 {
        text-align: left; } }

.marquee-other,
.marquee {
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  animation-play-state: running; }

.marquee__inner-other,
.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite; }

.marquee-other p,
.marquee p {
  font-size: 18vw;
  line-height: 1;
  color: #424e78;
  padding: 0 2vw;
  font-family: "Marcellus", serif;
  white-space: nowrap;
  text-transform: lowercase; }

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0); }
  100% {
    transform: translate3d(var(--move-final), 0, 0); } }
.about .row {
  padding: 0 4%;
  align-items: center; }
  .about .row .content > div {
    padding: 8% 8% 0; }
  .about .row > div:last-of-type {
    padding: 8%;
    flex-direction: column-reverse; }
    .about .row > div:last-of-type > div {
      padding: 8%; }
    @media (min-width: 992px) {
      .about .row > div:last-of-type {
        flex-direction: column; } }
  .about .row figure.arch {
    padding: 20px; }
  .about .row p, .about .row h3, .about .row h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .about .row .btn-wrap {
    text-align: center; }
  @media (min-width: 992px) {
    .about .row p, .about .row h3, .about .row h2 {
      text-align: left; }
    .about .row .btn-wrap {
      text-align: left; } }

.horizontal {
  background-color: #f5efe3;
  overflow: hidden;
  width: 100%; }
  .horizontal .spacer {
    height: 4%; }
  .horizontal .pin-wrap {
    overflow: hidden;
    height: 100vh; }
  .horizontal .pin-wrap,
  .horizontal .animation-wrap {
    display: flex;
    position: relative;
    z-index: 1;
    width: 100%; }
  .horizontal .animation-wrap {
    width: 100%;
    height: calc(100vh - 50px); }
  .horizontal .item {
    will-change: transform;
    position: relative;
    padding: 0px;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    line-height: 1.7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent; }
    .horizontal .item figure {
      justify-content: center;
      display: flex;
      margin: 20px; }
      .horizontal .item figure.bg {
        background-color: #424e78; }
      .horizontal .item figure.bg.dark {
        background-color: #64697a; }
        .horizontal .item figure.bg.dark p {
          color: #fafafa; }
      .horizontal .item figure.arch svg, .horizontal .item figure.logo-figure svg {
        max-width: 70%; }
    @media (min-width: 992px) {
      .horizontal .item {
        flex: 0 0 50%; }
        .horizontal .item .content {
          text-align: left; } }
    @media (min-width: 1200px) {
      .horizontal .item {
        flex: 0 0 33.333%; } }
    @media (min-height: 1366px) and (max-height: 1367px) {
      .horizontal .item {
        flex: 0 0 100%; } }

.dates {
  overflow: hidden; }
  .dates div[class^="container"] .row {
    padding: 8% 4%;
    flex-direction: column-reverse; }
    @media (min-width: 768px) {
      .dates div[class^="container"] .row {
        flex-direction: row; } }
    .dates div[class^="container"] .row h3 {
      margin-top: 0;
      margin-bottom: 10px; }
    .dates div[class^="container"] .row .logo-figure {
      justify-content: flex-end;
      background-color: #d8d1c3;
      align-items: flex-end;
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      max-width: 400px;
      margin: 0 auto;
      box-shadow: inset 0 10px 100px rgba(252, 239, 185, 0.5); }
      .dates div[class^="container"] .row .logo-figure figure:first-of-type {
        margin: 0 auto;
        display: none; }
        .dates div[class^="container"] .row .logo-figure figure:first-of-type svg {
          transform: rotate(90deg); }
        @media (min-width: 576px) and (max-width: 991px) {
          .dates div[class^="container"] .row .logo-figure figure:first-of-type {
            display: block; } }
      .dates div[class^="container"] .row .logo-figure figure {
        max-width: 90%; }
        @media (min-width: 992px) {
          .dates div[class^="container"] .row .logo-figure figure {
            max-width: 100%; } }
    .dates div[class^="container"] .row .content {
      padding: 8%;
      justify-content: flex-end; }
      @media (min-width: 768px) {
        .dates div[class^="container"] .row .content {
          padding: 4% 0 0 4%; } }
      @media (min-width: 1200px) {
        .dates div[class^="container"] .row .content {
          padding: 4% 4% 0; } }
      .dates div[class^="container"] .row .content .text {
        max-width: 350px; }
        .dates div[class^="container"] .row .content .text a p, .dates div[class^="container"] .row .content .text a i {
          transition-property: all;
          transition-duration: 0.3s;
          transition-timing-function: ease-in; }
        .dates div[class^="container"] .row .content .text a i {
          margin-left: 10px;
          padding-left: 10px;
          border-left: 1px solid #424e78; }
        .dates div[class^="container"] .row .content .text a:hover p, .dates div[class^="container"] .row .content .text a:hover i {
          transition-property: all;
          transition-duration: 0.3s;
          transition-timing-function: ease-in; }
        .dates div[class^="container"] .row .content .text a:hover p {
          color: #424e78; }
        .dates div[class^="container"] .row .content .text a:hover i {
          color: #e49806;
          border-color: #e49806;
          padding-left: 30px; }

.cta .row {
  padding: 8% 0;
  max-width: 800px;
  margin: 0 auto; }
  .cta .row h2 {
    text-align: center; }
  .cta .row .preamble {
    justify-content: center; }
  .cta .row ul.socials {
    display: flex;
    justify-content: center; }
    .cta .row ul.socials li {
      padding: 0 10px; }
      .cta .row ul.socials li a {
        color: #424e78; }
        .cta .row ul.socials li a:hover {
          color: #e49806; }
  .cta .row .mesh {
    right: -50%;
    top: -15%; }
  .cta .row .btn-wrap a {
    border-width: 0; }
    .cta .row .btn-wrap a i {
      margin-right: 20px;
      margin-left: 0; }
    .cta .row .btn-wrap a:hover i {
      margin-left: 0;
      margin-right: 30px; }

footer {
  border-top: 1px solid #d8d1c3;
  padding: 10px 40px;
  margin: 0 40px; }
  footer div {
    text-align: right; }
    footer div a {
      color: #424e78; }
      footer div a:hover {
        color: #e49806; }

.fixed-scroll {
  z-index: 10;
  position: relative; }
  .fixed-scroll .nav-fix {
    padding: 0 40px; }
    .fixed-scroll .nav-fix .navbar {
      margin: 0 auto;
      background-color: #fafafa;
      background-image: url("../img/background-texture.png");
      box-shadow: none;
      padding: 0;
      z-index: 5;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in; }
      .fixed-scroll .nav-fix .navbar .container-fluid {
        padding: 10px 10px; }
        .fixed-scroll .nav-fix .navbar .container-fluid a.navbar-brand {
          width: 230px;
          height: 80px;
          position: relative;
          padding: 0;
          display: flex;
          align-items: center;
          transition-property: height;
          transition-duration: 0.3s;
          transition-timing-function: ease-in; }
          .fixed-scroll .nav-fix .navbar .container-fluid a.navbar-brand figure {
            position: relative;
            margin: 0;
            overflow: visible;
            width: 100%;
            height: 100%; }
            .fixed-scroll .nav-fix .navbar .container-fluid a.navbar-brand figure svg {
              overflow: visible;
              width: 100%;
              height: 100%;
              max-width: 200px;
              transform: scale(1);
              transform-origin: 0 0;
              transform-origin: 50% 00%;
              transition-property: all;
              transition-duration: 0.3s;
              transition-timing-function: ease-in; }
              .fixed-scroll .nav-fix .navbar .container-fluid a.navbar-brand figure svg .circle {
                fill: #424e78;
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: ease-in; }
              .fixed-scroll .nav-fix .navbar .container-fluid a.navbar-brand figure svg .outline {
                stroke: #011147;
                stroke-width: 0.5px; }
              .fixed-scroll .nav-fix .navbar .container-fluid a.navbar-brand figure svg .hair {
                fill: #fafafa;
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: ease-in; }
          .fixed-scroll .nav-fix .navbar .container-fluid a.navbar-brand p {
            color: #424e78;
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 0;
            margin-left: 10px; }
          @media (min-width: 992px) {
            .fixed-scroll .nav-fix .navbar .container-fluid a.navbar-brand {
              width: 320px; }
              .fixed-scroll .nav-fix .navbar .container-fluid a.navbar-brand p {
                font-size: 28px; } }
        .fixed-scroll .nav-fix .navbar .container-fluid button.navbar-toggler {
          padding: 0 10px;
          font-size: 30px;
          line-height: 1;
          background-color: transparent;
          border: 0;
          border-radius: 0;
          transition: none;
          display: flex;
          flex-direction: row;
          height: 100%;
          align-items: center; }
          .fixed-scroll .nav-fix .navbar .container-fluid button.navbar-toggler:focus {
            box-shadow: none; }
          .fixed-scroll .nav-fix .navbar .container-fluid button.navbar-toggler .navbar-toggler-icon {
            color: #e49806;
            height: auto; }
        .fixed-scroll .nav-fix .navbar .container-fluid div.navbar-collapse {
          justify-content: flex-end;
          margin-top: -1px;
          transition: all 0.5s ease-in-out; }
          .fixed-scroll .nav-fix .navbar .container-fluid div.navbar-collapse ul.navbar-nav {
            padding: 0px 20px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; }
            .fixed-scroll .nav-fix .navbar .container-fluid div.navbar-collapse ul.navbar-nav a.nav-link {
              padding: 10px 14px;
              color: #424e78; }
              .fixed-scroll .nav-fix .navbar .container-fluid div.navbar-collapse ul.navbar-nav a.nav-link:hover {
                color: #c52800; }
            .fixed-scroll .nav-fix .navbar .container-fluid div.navbar-collapse ul.navbar-nav .socials {
              margin-top: 20px; }
            @media (min-width: 992px) {
              .fixed-scroll .nav-fix .navbar .container-fluid div.navbar-collapse ul.navbar-nav {
                height: inherit; }
                .fixed-scroll .nav-fix .navbar .container-fluid div.navbar-collapse ul.navbar-nav .socials {
                  margin-top: 0; } }
        .fixed-scroll .nav-fix .navbar .container-fluid .open .navbar-toggler-icon i {
          transform: rotate(-90deg); }
      @media (min-width: 992px) {
        .fixed-scroll .nav-fix .navbar .container-fluid button.navbar-toggler {
          display: none; }
        .fixed-scroll .nav-fix .navbar .container-fluid div.navbar-collapse {
          background-color: transparent; } }
      .fixed-scroll .nav-fix .navbar.nav--scrolled {
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
        box-shadow: 0 10px 20px rgba(160, 160, 160, 0.2); }
        .fixed-scroll .nav-fix .navbar.nav--scrolled a.navbar-brand {
          height: 60px;
          transition-property: height;
          transition-duration: 0.3s;
          transition-timing-function: ease-in; }

/*# sourceMappingURL=styles.css.map */
