
$header-font: 'GopherText-Bold', serif;
$body-font: 'GopherText-Bold', serif;
$variable: 'Meddon', cursive;


$xs:40px;
$sm:4%;
$md:8%;
$lg:10%;
$xlg:14%;
$xxl:20%;


$light:#e8d0e2;
$white:#ece9e2;
$dark:#421e28;
$transparent:rgba(66, 30, 40, 0.5 );

$main:#a40e53;
$main-light:#561e4d;
$main-dark:#2d1f24;

// ligh tteal
$secondary:#1d1d54;
$secondary-light:#200e47;
$secondary-dark:#0d0a2f;

// $variant:#ee1c19;
$variant:#fb7075;

$shadow:0 10px 20px rgba(160, 160, 160, 0.5);
$text-shadow: 2px 2px 10px rgba(0,0,0,0.25);
$drop-shadow:drop-shadow( 3px 3px 8px rgba(0, 0, 0, .30));

